$gradient-color_1: #6dac2f;
$gradient-color_2: #d1b200;
$gradient-color_3: #d35400;
$gradient-color_4: #5dade2;
$orange: #f8aa01;
$white: #fff;
$black: #000;
$gray: #a9a9a9;

// aside-menu
$asid-menu-bg-color: $black;
$aside-menu-open-btn-bg-color: $white;
$aside-menu-text-color: $white;
$aside-menu-border-color: $white;

.aside-menu {
	position: fixed;
	z-index: 11;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);

	&__wrapper {
		position: relative;
		left: -60px;
		display: flex;
		align-items: center;
		width: 60px;
		height: 350px;
	}

	@mixin aside-menu($modifier, $value_1, $value_2) {
		.aside-menu__wrapper--#{$modifier} {
			@keyframes aside-menu-#{$modifier} {
				0% {
					left: #{$value_1};
				}

				100% {
					left: #{$value_2};
				}
			}

			animation: aside-menu-#{$modifier} 0.6s forwards ease-out;
		}
	}

	@include aside-menu(open, -60px, 20px);
	@include aside-menu(close, 20px, -60px);

	&__btn {
		overflow: hidden;
		position: absolute;
		top: 50%;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 150px;
		background-color: $aside-menu-open-btn-bg-color;
		border: none;
		border-radius: 0 20px 20px 0;
		cursor: pointer;
		transform: translateY(-50%);
		transition:
			height 0.5s ease,
			filter 0.3s ease,
			right 0.6s ease-out 0.3s,
			top 0.4s ease,
			transform 0.4s ease;

		&:hover {
			filter: drop-shadow(0 0 5px $aside-menu-border-color);
		}
	}

	&__btn--start {
		right: -30px;
	}

	&__btn--close {
		height: 0;
	}

	&__btn-img {
		pointer-events: none;
	}

	&__inner {
		position: relative;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: $asid-menu-bg-color;
		border-radius: 20px;
		backface-visibility: hidden;
		box-shadow: 0 0 10px $aside-menu-border-color;
		transition: box-shadow 0.2s ease;

		&:hover {
			box-shadow: 0 0 10px var(--aside-menu-color);
		}
	}

	&__inner-btn {
		position: absolute;
		top: 25px;
		left: 60px;
		width: 0;
		height: 60px;
		font-size: 16px;
		color: $aside-menu-text-color;
		letter-spacing: 0.5px;
		white-space: nowrap;
		background-color: var(--aside-menu-color);
		border: none;
		border-radius: 0 50px 50px 0;
		cursor: pointer;
		overflow: hidden;
		transition:
			width 0.4s ease-out,
			background-color 0.4s ease-out;

		&:hover {
			width: 270px;
		}
	}

	&__inner-btn--change-theme {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 5px;
	}

	&__change-color-btns {
		display: flex;
		column-gap: 5px;
	}

	&__colors {
		width: 22px;
		height: 22px;
		border: 1px solid $aside-menu-border-color;
		cursor: pointer;
		transition: transform 0.2s ease;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__colors--active {
		transform: scale(1.1) !important;
		cursor: default;
	}

	$colors-bg: (
		0: $gradient-color_1,
		1: $gradient-color_2,
		2: $gradient-color_3,
		3: $gradient-color_4,
	);

	@mixin colors-bg-color($bg-color, $modifier) {
		&__colors--#{$modifier} {
			background-color: $bg-color;
		}
	}

	@each $modifier, $bg-color in $colors-bg {
		@include colors-bg-color($bg-color, $modifier);
	}

	&__item {
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 80px;
	}

	&__inner-img {
		pointer-events: none;
	}

	&__active {
		position: absolute;
		top: 15px;
		width: 100%;
		height: 60px;
		background-color: var(--aside-menu-color);
		opacity: 0;
		transition:
			top 0.4s ease,
			opacity 0.6s ease-out,
			background-color 0.4s ease-out;
	}

	$aside-item-hover: (
		0: 25px,
		1: 105px,
		2: 185px,
		3: 265px,
	);

	@mixin aside-menu-btn-hover($modifier, $position) {
		&__inner-btn--#{$modifier}:hover ~ .aside-menu__active,
		&__item--#{$modifier}:hover ~ .aside-menu__active {
			top: #{$position};
			opacity: 1;
		}

		&__item--#{$modifier}:hover ~ .aside-menu__inner-btn--#{$modifier} {
			width: 250px;
		}

		&__inner-btn--#{$modifier} {
			top: #{$position};
		}
	}

	@each $modifier, $position in $aside-item-hover {
		@include aside-menu-btn-hover($modifier, $position);
	}

	@media (hover: none) and (pointer: coarse) {
		&__item--3:hover ~ .aside-menu__inner-btn--3 {
			width: 0;
			pointer-events: none;
		}

		&__colors {
			&:hover {
				transform: scale(1);
			}
		}
	}

	@media (width <= 480px) {
		@mixin aside-menu-btn-hover($modifier, $position) {
			&__item--#{$modifier}:hover ~ .aside-menu__inner-btn--#{$modifier} {
				width: 220px;
			}
		}

		@each $modifier, $position in $aside-item-hover {
			@include aside-menu-btn-hover($modifier, $position);
		}

		&__inner-btn {
			&:hover {
				width: 240px;
			}
		}
	}
}
