:root {
	// main-colors
	--orange: #f8aa01;
	--milky: #f5deb3;
	--white: #fff;
	--black: #000;
	--gray: #a9a9a9;
	--green: #6dac2f;
	--yellow: #d1b200;
	--red: #d35400;
	--blue: #5dade2;

	// special-color
	--google: #ea4335;
	--telegram: #08c;
	--github: #181717;
	--facebook: #3b5998;

	// box-shadow
	--box-shadow-main-color: var(--white);
	--box-shadow-secondary-color: var(--orange);
	--box-shadow-accent-color: var(--milky);

	// text
	--text-color: var(--white);
	--text-hover-color: var(--black);
	--accent-text-color: var(--orange);

	// lines
	--line-color: var(--white);
	--line-accent-color: var(--orange);

	// scroll-bar
	--thumb-color: var(--orange);
	--scrollbar-bg-color: var(--white);

	// header-nav-btn
	--header-btn-lines-bg-color: var(--white);

	// change
	--gradient-color: var(--blue);
	--change-color: var(--blue);

	// size
	--gradient-transition-point: 30%;
	--change-color-transition: 0.4s ease-out;

	// 1440px
	--header-logo-font-size-1440: 1.8em;
	--header-btn-font-size-1440: 1.2em;
	--hmp-getting-logo-font-size-1440: 3.5em;
	--hmp-getting-text-font-size-1440: 2.2em;
	--header-heigth-1440: 90px;

	// 1024px
	--header-btn-font-size-1024: 2.2em;

	// 768px
	--header-logo-font-size-768: 1.6em;
	--header-btn-font-size-768: 2em;

	// 425px
	--header-logo-font-size-425: 1.4em;
	--header-btn-font-size-425: 1.6em;
	--header-height-425: 75px;

	// height 667px
	--header-btn-font-size-heigth-667: 1.8em;

	// height 430px
	--header-btn-font-size-heigth-430: 1.6em;

	// z-indexes content 1-10, nav 11-20, modal 100, overlay 1000
	--z-index-header-btn-line: 1;
	--z-index-header-btn: 2;
	--z-index-social-container: 2;
	--z-index-nav-container: 3;
	--z-index-burger-menu: 4;
}

// colors
$green: var(--green);
$yellow: var(--yellow);
$red: var(--red);
$blue: var(--blue);

@font-face {
	font-family: Furore;
	src: url('../fonts/Furore/Furore.otf');
	font-style: normal;
	font-weight: 600;
}

.main-title {
	visibility: hidden;
	width: 0;
	height: 0;
	opacity: 0;
}

.main-page {
	background: linear-gradient(90deg, rgb(0 0 0 / 100%) var(--gradient-transition-point), var(--gradient-color) 130%);
}

.main-page--open {
	overflow: hidden;
	height: 100vh;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1440px;
}

.line {
	width: 0;
	height: 4px;
	background-color: var(--line-color);
}

.line--animate {
	width: 100%;
	transition: all 1.2s ease-out;
}

.scroll-section {
	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__title {
		display: none;
	}

	&__line {
		width: 4px;
		height: 0;
		opacity: 0;
	}

	&__line--animate {
		height: 80%;
		background-color: var(--line-color);
		opacity: 1;
		transition:
			height 1s ease-out,
			width 0s,
			opacity 1s ease-out;
	}

	&__text {
		overflow: hidden;
		font-weight: 600;
		font-size: 2.4em;
		color: var(--text-color);
	}
}

$page-background-colors: (
	1: $green,
	2: $yellow,
	3: $red,
	4: $blue,
);

@mixin change-bg-color($modifier, $color) {
	.bg-color--#{$modifier} {
		--gradient-color: #{$color};
	}
}

@each $modifier, $color in $page-background-colors {
	@include change-bg-color($modifier, $color);
}
