// colors
$gradient-color_1: #6dac2f;
$gradient-color_2: #d1b200;
$gradient-color_3: #d35400;
$gradient-color_4: #5dade2;
$orange: #f8aa01;
$white: #fff;
$black: #000;
$gray: #a9a9a9;

// line
$line-background-color: $white;

// scroll-line
$scroll-line-bg-color: $white;
$scroll-text-color: $white;

:root {
	--gradient-color: #5dade2;
	--gradient-transition-point: 30%;
	--header-btn-box-shadow: #5dade2;
	--header-logo-box-shadow: #5dade2;
	--aside-menu-color: #5dade2;
	--hmp-getting-name-color: #5dade2;
	--scroll-bar-color: #5dade2;
}

@font-face {
	font-family: Furore;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Furore/Furore.otf') format('opentype');
}

@font-face {
	font-family: Orbitron;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('opentype');
}

.russian-font {
	font-family: Furore, sans-serif;
	font-weight: 100 !important;
	letter-spacing: 0 !important;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Orbitron, sans-serif;
	text-decoration: none;
	list-style: none;
	scrollbar-color: $orange $white;
	scrollbar-width: thin;
}

.page {
	background: linear-gradient(90deg, rgb(0 0 0 / 100%) var(--gradient-transition-point), var(--gradient-color) 130%);
}

.page--open {
	overflow: hidden;
	height: 100vh;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1400px;
}

.line {
	width: 0;
	height: 4px;
	background-color: $line-background-color;
}

.line--animate {
	width: 100%;
	transition: all 1.2s ease-out;
}

.scroll-section {
	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__title {
		display: none;
	}

	&__line {
		width: 4px;
		height: 0;
		opacity: 0;
	}

	&__line--animate {
		height: 80%;
		background-color: $scroll-line-bg-color;
		opacity: 1;
		transition:
			height 1s ease-out,
			width 0s,
			opacity 1s ease-out;
	}

	&__text {
		overflow: hidden;
		font-weight: 600;
		font-size: 36px;
		color: $scroll-text-color;
	}
}

$page-background-colors: (
	1: $gradient-color_1,
	2: $gradient-color_2,
	3: $gradient-color_3,
	4: $gradient-color_4,
);

@mixin change-bg-color($modifier, $color) {
	.bg-color--#{$modifier} {
		--gradient-color: #{$color};
	}
}

@each $modifier, $color in $page-background-colors {
	@include change-bg-color($modifier, $color);
}
