.footer {
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 45px;
		border-top: 2px solid transparent;
	}

	&__wrapper--animate {
		transition: border-top 0.4s ease-out;
		border-top: 2px solid var(--box-shadow-main-color);
	}

	&__inner-copyright {
		display: flex;
		align-items: center;
		font-size: var(--footer-text-font-size-1440);
	}

	&__text {
		&:nth-child(1) {
			margin-right: -5px;
		}

		color: var(--text-color);
	}

	&__date {
		margin-left: 5px;
		transition: color 0.4s ease-out;
		color: var(--change-color);
	}

	&__version {
		overflow: hidden;
		font-size: var(--footer-varsion-font-size-1440);
		color: var(--text-color);
		letter-spacing: 0.5px;
	}

	&__varison-value {
		display: inline-block;
	}

	@media (width <= 768px) {
		&__wrapper {
			height: 40px;
		}

		&__inner-copyright {
			font-size: var(--footer-text-font-size-768);
		}

		&__version {
			font-size: var(--footer-varsion-font-size-768);
		}
	}

	@media (width <= 425px) {
		&__wrapper {
			flex-direction: column;
			padding: 5px 0 10px;
			height: auto;
		}
	}
}
