$orange: #f8aa01;
$white: #fff;
$black: #000;
$gray: #a9a9a9;

// var
$footer-border-color: $white;
$footer-text-color: $white;

.footer {
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
		color: $footer-text-color;
		border-top: 3px solid transparent;
	}

	&__wrapper--animate {
		transition: border-top 1s ease-out;
		border-top: 3px solid $footer-border-color;
	}

	&__inner-copyright {
		display: flex;
		align-items: center;
		overflow: hidden;
	}

	&__name-box {
		display: flex;
		align-items: center;
		column-gap: 5px;
		margin-right: 10px;
	}

	&__symbol {
		position: relative;
		left: -20px;
		font-weight: 900;
		font-size: 20px;
	}

	&__symbol--animate {
		left: 0;
		transition: all 0.3s ease;
	}

	&__name {
		display: flex;
		align-items: center;
		width: 205px;
		height: 22px;
		font-weight: 600;
		font-size: 18px;
		letter-spacing: 1px;
		transition: width 0.2s ease;
	}

	&__name--rus-lang {
		width: 220px;
		letter-spacing: 0;
	}

	&__date {
		position: relative;
		right: -100%;
		font-weight: 600;
		line-height: 100%;
		font-size: 20px;
		letter-spacing: 1px;
	}

	&__date--animate {
		right: 0;
		transition: right 1s ease-out;
	}

	&__date--rus-lang {
		height: 20px;
		font-size: 18px;
		letter-spacing: 0;
	}

	&__version {
		margin-bottom: 1px;
		width: 145px;
		height: 22px;
		font-weight: 600;
		font-size: 18px;
		letter-spacing: 1px;
		transition: width 0.4s ease;
	}

	&__version--rus-lang {
		width: 140px;
		letter-spacing: 0;
	}

	@media (width <= 650px) {
		&__wrapper {
			flex-direction: column;
			justify-content: center;
			height: 80px;
		}

		&__inner-copyright {
			margin-bottom: 5px;
		}

		&__version {
			margin-bottom: 0;
		}
	}

	@media (width <= 480px) {
		&__wrapper {
			padding-bottom: 5px;
			height: 110px;
			row-gap: 10px;
		}

		&__inner-copyright {
			flex-direction: column;
			margin-right: 0;
		}

		&__name-box {
			margin-right: 0;
		}

		&__date {
			right: auto;
			bottom: -100%;
			font-size: 16px;
		}

		&__date--animate {
			bottom: 0;
			transition:
				bottom 1s ease-out,
				font-size 0.4s ease;
		}

		&__date--rus-lang {
			height: auto;
		}
	}
}
