@use 'sass:list';

// icons
$google-icon-bg: var(--google);
$telegram-icon-bg: var(--telegram);
$github-icon-bg: var(--github);
$facebook-icon-bg: var(--facebook);

// var

$colors: (
	'google': $google-icon-bg,
	'telegram': $telegram-icon-bg,
	'github': $github-icon-bg,
	'facebook': $facebook-icon-bg,
);

.header {
	&__wrapper {
		position: relative;
		top: calc(-1 * var(--header-heigth-1440) - 20px);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
		height: var(--header-heigth-1440);
		border-bottom: 2px solid transparent;
	}

	&__wrapper--animate {
		top: 0 !important;
		border-color: var(--line-color);
		transition:
			top 1s ease-out,
			border-color 0.6s ease-out 0.8s;
	}

	&__logo-img {
		margin-top: 5px;
		width: 85px;
		height: 85px;
		transition:
			filter 0.4s ease-out,
			transform 0.3s ease-out;
		pointer-events: none;
		object-fit: cover;
	}

	&__logo-text {
		display: flex;
		flex-direction: column;
		line-height: 100%;
		font-size: var(--header-logo-font-size-1440);
		color: var(--text-color);
		letter-spacing: 0.5px;
		text-align: left;
		transition: color 0.5s ease;
		pointer-events: none;
	}

	&__logo {
		display: flex;
		align-items: center;
		column-gap: 15px;

		&:hover .header__logo-img {
			filter: drop-shadow(0 0 15px var(--change-color));
			transform: scale(1.1);
		}

		&:hover .header__logo-text {
			color: var(--change-color);
		}
	}

	&__nav-container {
		display: flex;
		align-items: center;
		column-gap: 20px;
		height: 42px;
	}

	&__nav {
		display: flex;
		align-items: center;
		column-gap: 10px;
	}

	&__item {
		flex-shrink: 0;
		border-radius: 50px 0;
	}

	&__btn-text {
		position: relative;
		z-index: var(--z-index-header-btn);
		pointer-events: none;
	}

	@mixin button-acitve-line($width) {
		width: $width;

		&:nth-of-type(odd) {
			left: 0;
		}

		&:nth-of-type(even) {
			right: 0;
		}

		@for $i from 1 through 3 {
			&:nth-child(#{$i}) {
				top: #{($i - 1) * 33.4%};
			}
		}
	}

	&__line {
		position: absolute;
		z-index: var(--z-index-header-btn-line);
		height: 33.4%;
		background-color: var(--header-btn-lines-bg-color);
		transition: all 0.5s ease-out;
		pointer-events: none;

		@include button-acitve-line(0);
	}

	&__line--active {
		@include button-acitve-line(100%);
	}

	&__btn {
		position: relative;
		padding: 5px 30px;
		font-size: var(--header-btn-font-size-1440);
		color: var(--text-color);
		letter-spacing: 0.5px;
		border-radius: 50px 0;
		overflow: hidden;
		transition:
			width 0.4s ease-out,
			color 0.4s ease-out;

		&:hover .header__line {
			@include button-acitve-line(100%);
		}

		&:hover {
			color: var(--text-hover-color);
			box-shadow: -5px 3px 5px var(--change-color);
		}
	}

	&__btn--active {
		color: var(--text-hover-color);
		box-shadow: -5px 3px 5px var(--change-color);
	}

	&__social-list {
		position: absolute;
		top: 42px;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 0;
		overflow: hidden;
		transition-delay: 0.8s;
	}

	&__social-arrow-img {
		width: 32px;
		height: 32px;
		transition: filter 0.2s ease-out;
	}

	&__social-container {
		position: relative;
		z-index: var(--z-index-social-container);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		cursor: pointer;

		&:hover .header__social-arrow-img {
			filter: drop-shadow(0 0 10px var(--white));
		}

		&:hover .header__social-list {
			transition-delay: 0s;
			height: 200px;
		}

		&:hover .header__social-item {
			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
					transition: top 0.4s ease-out #{(4 - $i) * 0.1}s;
				}
			}
		}
	}

	&__social-item {
		position: relative;
		top: -200px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 45px;
		transition: all 0s;

		@for $i from 1 through 4 {
			&:nth-child(#{$i}) {
				transition: top 0.4s ease-out #{($i) * 0.1}s;
			}
		}
	}

	@mixin header-social-items($modifier, $color) {
		&__social-container:hover .header__social-item--#{$modifier} {
			top: 0;
		}

		&__social-item--#{$modifier}:hover {
			background-color: $color;
		}
	}

	@each $modifier, $color in $colors {
		@include header-social-items($modifier, $color);
	}

	&__social-link {
		width: 100%;
		height: 100%;
	}

	&__social-img {
		width: 100%;
		height: 100%;
	}

	&__burger-menu {
		display: none;
	}

	@media (width <= 1024px) {
		&__burger-menu {
			position: relative;
			z-index: var(--z-index-burger-menu);
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 10px;
			width: 60px;
			height: 30px;
			cursor: pointer;
			transition: height 0.4s ease-out;
		}

		&__burger-menu--open {
			width: 65px;
			height: 65px;
		}

		&__burger-line {
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: var(--line-color);

			&:nth-child(1) {
				top: 0;
				transition:
					transform 0.4s ease-out,
					top 0.4s ease-out 0.4s,
					width 0.4s ease-out 0.4s;
			}

			&:nth-child(2) {
				right: 15px;
				background-color: var(--line-accent-color);
				transition: transform 0.4s ease-out 0.4s;
			}

			&:nth-child(3) {
				transition:
					transform 0.4s ease-out,
					bottom 0.4s ease-out 0.4s,
					width 0.4s ease-out 0.4s;
				bottom: 0;
			}
		}

		&__burger-line--open {
			&:nth-child(1) {
				top: calc(50% - 2px);
				width: 75%;
				transform: rotate(-45deg);
				transition:
					transform 0.4s ease-out 0.4s,
					top 0.4s ease-out,
					width 0.4s ease-out;
			}

			&:nth-child(2) {
				transform: scale(0);
				transition: transform 0.2s ease-out;
			}

			&:nth-child(3) {
				bottom: calc(50% - 2px);
				width: 75%;
				transform: rotate(45deg);
				transition:
					transform 0.4s ease-out 0.4s,
					bottom 0.4s ease-out,
					width 0.4s ease-out;
			}
		}

		&__nav-container {
			position: fixed;
			z-index: var(--z-index-nav-container);
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 0;
			height: 0;
			background: linear-gradient(90deg, rgb(0 0 0 / 100%) var(--gradient-transition-point), var(--gradient-color) 130%);
			opacity: 0;
			visibility: hidden;
			row-gap: 70px;
			transition: opacity 0.6s ease-out;
			pointer-events: none;
		}

		&__nav-container--open {
			width: 100%;
			height: 100%;
			visibility: visible;
			pointer-events: auto;
			inset: 0;
			opacity: 1;
		}

		@keyframes burger-close {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}

		&__nav-container--close {
			width: 100%;
			height: 100%;
			visibility: visible;
			transition: opacity 0.6s ease-out;
			animation: burger-close 0.6s ease-out forwards;
			inset: 0;
			pointer-events: none;
		}

		&__nav {
			flex-flow: column wrap;
			row-gap: 35px;
		}

		&__item {
			&:nth-child(even) {
				opacity: 0;
				transform: translateX(20px);
			}

			&:nth-child(odd) {
				opacity: 0;
				transform: translateX(-20px);
			}
		}

		&__item--open {
			transition:
				transform 0.6s ease-out 0.2s,
				opacity 0.6s ease-out 0.2s;

			&:nth-child(even) {
				opacity: 1;
				transform: translateX(0);
			}

			&:nth-child(odd) {
				opacity: 1;
				transform: translateX(0);
			}
		}

		&__btn {
			font-size: var(--header-btn-font-size-1024);
		}

		&__social-list {
			position: static;
			flex-flow: row wrap;
			justify-content: center;
			gap: 10px 50px;
			height: fit-content;
			overflow: visible;
			transition: 0s all;
		}

		&__social-container {
			position: static;

			&:hover {
				box-shadow: none;
			}

			&:hover .header__social-list {
				height: inherit;
			}
		}

		&__social-arrow-img {
			display: none;
		}

		&__social-item {
			position: static;
			width: 65px;
			height: 65px;
			opacity: 0;
			transform: scale(0);
		}

		&__social-item--open {
			@for $i from 1 through 4 {
				$delay: 0.15s * $i;

				&:nth-child(#{$i}) {
					transition:
						transform 0.4s ease-out $delay,
						opacity 0.4s ease-out $delay !important;
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}

	@media (width <= 768px) {
		&__logo-img {
			width: 70px;
			height: 70px;
		}

		&__logo-text {
			font-size: var(--header-logo-font-size-768);
		}

		&__burger-menu {
			width: 55px;
			height: 28px;
		}

		&__burger-menu--open {
			width: 60px;
			height: 60px;
		}

		&__nav-container {
			row-gap: 60px;
		}

		&__nav {
			row-gap: 30px;
		}

		&__btn {
			font-size: var(--header-btn-font-size-768);
		}

		&__social-list {
			column-gap: 40px;
		}

		&__social-item {
			width: 60px;
			height: 60px;
		}
	}

	@media (width <= 425px) {
		&__wrapper {
			top: calc(-1 * var(--header-height-425) - 20px);
			padding: 0;
			height: var(--header-height-425);
		}

		&__logo {
			column-gap: 10px;
		}

		&__logo-img {
			margin-top: 2px;
			width: 65px;
			height: 65px;
		}

		&__logo-text {
			font-size: var(--header-logo-font-size-425);
		}

		&__burger-menu {
			margin-top: 5px;
			width: 50px;
			height: 25px;
		}

		&__burger-menu--open {
			width: 55px;
			height: 55px;
		}

		&__nav-container {
			row-gap: 50px;
		}

		&__nav {
			row-gap: 25px;
		}

		&__btn {
			font-size: var(--header-btn-font-size-425);
		}

		&__social-list {
			column-gap: 30px;
		}

		&__social-item {
			width: 50px;
			height: 50px;
		}
	}

	@media (width <= 375px) {
		&__logo-img {
			width: 60px;
			height: 60px;
		}

		&__burger-menu {
			width: 45px;
		}

		&__burger-menu--open {
			width: 50px;
			height: 50px;
		}
	}

	@media (height <= 667px) and (width <= 1024px) {
		&__btn {
			font-size: var(--header-btn-font-size-heigth-667);
		}

		&__nav-container {
			padding: 0 60px;
		}

		&__nav {
			flex-flow: row wrap;
			justify-content: center;
			column-gap: 80px;
		}

		&__social-list {
			column-gap: 90px;
		}
	}

	@media (height <= 430px) and (width <= 1024px) {
		&__btn {
			font-size: var(--header-btn-font-size-heigth-430);
		}

		&__nav-container {
			row-gap: 50px;
		}

		&__social-list {
			column-gap: 80px;
		}

		&__social-img {
			width: 60px;
			height: 60px;
		}
	}

	@media (hover: none) and (pointer: coarse) {
		&__logo {
			&:hover .header__logo-img {
				filter: unset;
				transform: none;
			}

			&:hover .header__logo-text {
				color: var(--text-color);
			}
		}

		&__social-item:hover {
			background-color: unset;
		}
	}
}
