@use 'sass:list';

$gradient-color_1: #b0e57c;
$gradient-color_2: #ff6f61;
$gradient-color_3: #d35400;
$gradient-color_4: #5dade2;
$orange: #f8aa01;
$white: #fff;
$black: #000;
$gray: #a9a9a9;

// nav
$nav-btn-hover-color: $black;
$nav-btn-span-bg-color: $white;
$nav-box-shadow-color: $gradient-color_2;

// icons
$google-icon-bg: #ea4335;
$telegram-icon-bg: #08c;
$github-icon-bg: #181717;
$facebook-icon-bg: #3b5998;
$social-media-box-shadow-color: $white;

// header

$header-border-color: $white;
$header-filter-color: $orange;
$header-logo-text-color: $white;
$header-logo-text-hover-color: $orange;
$header-nav-btn-color: $white;
$header-text-color: $white;
$header-hover-text-color: $black;
$header-social-box-shadow: $white;

// burger-menu
$burger-menu-line-color: $orange;
$burger-menu-accent-line-color: $white;
$burger-menu-sadow-color: $white;

// var

$colors: (
	'google': $google-icon-bg,
	'telegram': $telegram-icon-bg,
	'github': $github-icon-bg,
	'facebook': $facebook-icon-bg,
);

.header {
	&__wrapper {
		transform: translateY(-150px);
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100px;
		border-bottom: 2px solid transparent;
	}

	&__wrapper--animate {
		transform: translateY(0);
		border-color: $header-border-color;
		transition:
			transform 1.1s ease-out,
			border-color 0.6s ease-out 0.6s;
	}

	&__logo-img {
		margin-top: 5px;
		transition:
			filter 0.4s ease-out,
			transform 0.3s ease-out;
		pointer-events: none;
		object-fit: cover;
	}

	&__logo-text {
		display: flex;
		flex-direction: column;
		font-weight: 600;
		font-size: 26px;
		color: $header-logo-text-color;
		text-align: left;
		transition: color 0.5s ease;
		pointer-events: none;
	}

	&__logo {
		display: flex;
		align-items: center;
		height: 100%;
		background-color: transparent;
		border: none;
		cursor: pointer;

		&:hover .header__logo-img {
			filter: drop-shadow(0 0 15px var(--change-color));
			transform: scale(1.1);
		}

		&:hover .header__logo-text {
			color: var(--change-color);
		}
	}

	&__nav-container {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}

	&__nav {
		display: flex;
		align-items: center;
		column-gap: 10px;
	}

	&__item {
		flex-shrink: 0;
		border-radius: 50px 0;
	}

	&__btn-text {
		pointer-events: none;
	}

	&__line {
		position: absolute;
		z-index: -2;
		width: 0%;
		height: 33.4%;
		background-color: $nav-btn-span-bg-color;
		transition: all 0.5s ease-out;
		pointer-events: none;
	}

	&__line--right {
		right: 0;
	}

	&__line--left {
		left: 0;
	}

	&__line--active {
		width: 100%;
	}

	$header-lines: (
		0: 0,
		1: 33.3%,
		2: 66.6%,
	);

	@mixin nav-hover-line($modifier, $position) {
		&__line--#{$modifier} {
			top: $position;
		}

		&__item:hover .header-nav__line--#{$modifier} {
			top: $position;
			width: 100%;
		}
	}

	@each $modifier, $position in $header-lines {
		@include nav-hover-line($modifier, $position);
	}

	&__btn {
		position: relative;
		z-index: 5;
		padding: 5px 30px;
		font-weight: 600;
		font-size: 18px;
		color: $header-nav-btn-color;
		letter-spacing: 0.5px;
		background-color: transparent;
		border: none;
		border-radius: 50px 0;
		overflow: hidden;
		cursor: pointer;
		transition: all 0.4s ease-out;

		&:hover .header__line {
			width: 100%;
		}

		&:hover {
			color: $header-hover-text-color;
			box-shadow: -5px 3px 5px var(--change-color);
		}
	}

	&__btn--active {
		color: $header-hover-text-color;
		box-shadow: -5px 3px 5px var(--change-color);
	}

	&__social-list {
		position: absolute;
		top: 42px;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 0;
		overflow: hidden;
		transition: height 0.4s ease-out;
	}

	&__social-container {
		position: relative;
		z-index: 5;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		transition: box-shadow 0.5s ease;
		cursor: pointer;

		&:hover {
			box-shadow: 0 0 15px $header-social-box-shadow;
		}

		&:hover .header__social-list {
			height: 200px;
		}
	}

	&__social-arrow-img {
		width: 32px;
		height: 32px;
	}

	&__social-item {
		position: relative;
		top: -200px;
		transition: top 0.4s ease-out;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50px;
	}

	@mixin header-social-items($modifier, $color) {
		&__social-container:hover .header__social-item--#{$modifier} {
			top: 0;
		}

		&__social-item--#{$modifier}:hover {
			background-color: $color;
		}
	}

	@each $modifier, $color in $colors {
		@include header-social-items($modifier, $color);
	}

	&__social-link {
		width: 100%;
		height: 100%;
	}

	&__social-img {
		width: 100%;
		height: 100%;
	}

	&__burger-menu {
		display: none;
	}

	@media (width <= 1150px) {
		&__burger-menu {
			position: relative;
			z-index: 11;
			display: flex;
			align-items: center;
			justify-content: center;
			box-sizing: content-box;
			margin-right: 20px;
			width: 60px;
			height: 30px;
			transition: height 0.4s ease-out;
			cursor: pointer;
		}

		&__burger-menu--open {
			height: 60px;
		}

		&__burger-line {
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: $burger-menu-accent-line-color;

			&:nth-child(1) {
				top: 0;
				transition:
					transform 0.4s ease-out,
					top 0.4s ease-out 0.4s,
					width 0.4s ease-out 0.4s;
			}

			&:nth-child(2) {
				right: 15px;
				background-color: $burger-menu-line-color;
				transition: transform 0.4s ease-out 0.4s;
			}

			&:nth-child(3) {
				transition:
					transform 0.4s ease-out,
					bottom 0.4s ease-out 0.4s,
					width 0.4s ease-out 0.4s;
				bottom: 0;
			}
		}

		&__burger-line--open {
			&:nth-child(1) {
				top: calc(50% - 2px);
				width: 75%;
				transform: rotate(-45deg);
				transition:
					transform 0.4s ease-out 0.4s,
					top 0.4s ease-out,
					width 0.4s ease-out;
			}

			&:nth-child(2) {
				transform: scale(0);
				transition: transform 0.2s ease-out;
			}

			&:nth-child(3) {
				bottom: calc(50% - 2px);
				width: 75%;
				transform: rotate(45deg);
				transition:
					transform 0.4s ease-out 0.4s,
					bottom 0.4s ease-out,
					width 0.4s ease-out;
			}
		}

		&__nav-container {
			position: fixed;
			z-index: 10;
			left: 9999px;
			display: flex;
			row-gap: 40px;
			flex-direction: column;
			justify-content: center;
			background: linear-gradient(90deg, rgb(0 0 0 / 100%) var(--gradient-transition-point), var(--gradient-color) 130%);
			background-color: black;
			opacity: 0;
			transition: opacity 0.6s ease-out;
		}

		&__nav-container--open {
			opacity: 1;
			inset: 0;
		}

		&__nav-container--close {
			@keyframes burger-close {
				0% {
					opacity: 1;
				}

				100% {
					opacity: 0;
				}
			}

			animation: burger-close 0.6s ease-out forwards;
			inset: 0;
			pointer-events: none;
		}

		&__nav {
			flex-direction: column;
			row-gap: 30px;
		}

		&__item {
			&:nth-child(even) {
				opacity: 0;
				transform: translateX(20px);
			}

			&:nth-child(odd) {
				opacity: 0;
				transform: translateX(-20px);
			}
		}

		&__item--open {
			transition:
				transform 0.6s ease-out 0.4s,
				opacity 0.6s ease-out 0.4s;

			&:nth-child(even) {
				opacity: 1;
				transform: translateX(0);
			}

			&:nth-child(odd) {
				opacity: 1;
				transform: translateX(0);
			}
		}

		&__btn {
			font-size: 30px;
		}

		&__social-list {
			position: static;
			flex-direction: row;
			column-gap: 20px;
			height: fit-content;
			overflow: visible;
		}

		&__social-container {
			position: static;

			&:hover {
				box-shadow: none;
			}

			&:hover .header__social-list {
				height: inherit;
			}
		}

		&__social-arrow-img {
			display: none;
		}

		&__social-item {
			position: static;
			transform: scale(0);
			opacity: 0;
		}

		&__social-item--open {
			@for $i from 1 through 4 {
				$delay: 0.2s * $i;

				&:nth-child(#{$i}) {
					transition:
						transform 0.4s ease-out $delay,
						opacity 0.4s ease-out $delay !important;
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}

	@media (width <= 800px) {
		&__logo-img {
			transform: scale(0.95) !important;
		}

		&__logo-text {
			position: relative;
			right: 10px;
			font-size: 24px;
		}

		&__btn {
			font-size: 28px;
		}
	}

	@media (width <= 600px) {
		&__wrapper {
			height: 90px;
		}

		&__nav-container {
			row-gap: 30px;
		}

		&__logo {
			position: relative;
			right: 20px;
		}

		&__logo-img {
			transform: scale(0.85) !important;
		}

		&__logo-text {
			right: 15px;
			font-size: 22px;
		}

		&__burger-menu {
			width: 50px;
		}

		&__btn {
			font-size: 26px;
		}

		&__social-img {
			transform: scale(0.9);
		}
	}

	@media (width <= 480px) {
		&__wrapper {
			height: 80px;
		}

		&__nav-container {
			row-gap: 25px;
		}

		&__nav {
			row-gap: 20px;
		}

		&__logo {
			position: relative;
			right: 25px;
		}

		&__logo-img {
			transform: scale(0.75) !important;
		}

		&__logo-text {
			right: 20px;
			font-size: 20px;
		}

		&__burger-menu {
			margin-right: 10px;
			width: 40px;
			height: 25px;
		}

		&__burger-line--open {
			width: 100% !important;
		}

		&__btn {
			font-size: 24px;
		}

		&__social-img {
			transform: scale(0.85);
		}
	}

	@media (width <= 430px) {
		&__logo {
			right: 30px;
			width: 230px;
		}

		&__logo-text {
			right: 25px;
			font-size: 18px;
		}

		&__logo-img {
			transform: scale(0.7) !important;
		}
	}

	@media (height <= 450px) {
		&__nav {
			flex-flow: row wrap;
			justify-content: center;
			padding: 0 40px;
			width: 100%;
		}

		&__item {
			&:nth-child(even) {
				opacity: 0;
				transform: translateY(20px);
			}

			&:nth-child(odd) {
				opacity: 0;
				transform: translateY(-20px);
			}
		}

		&__item--open {
			transition:
				transform 0.6s ease-out 0.4s,
				opacity 0.6s ease-out 0.4s;

			&:nth-child(even) {
				opacity: 1;
				transform: translateY(0);
			}

			&:nth-child(odd) {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	@media (hover: none) and (pointer: coarse) {
		&__logo {
			&:hover .header__logo-img {
				filter: drop-shadow(0 0 0 transparent);
				transform: none;
			}

			&:hover .header__logo-text {
				color: $header-logo-text-color;
			}
		}

		&__social-item:hover {
			background-color: unset;
		}
	}
}
