$orange: #f8aa01;
$white: #fff;
$black: #000;
$gray: #a9a9a9;
$milky: #f5deb3;
$water-color: #00bfff;
$html-color: #ff5733;
$css-color: #0071c5;
$js-color: #f7df1e;
$react-color: #61dafb;

// same elemnts

$hmp-title-color: $orange;

// getting-section
$hmp-accent-title-color: $white;
$hmp-text-color: $white;
$hmp-logo-3d-border-color: $white;

// cards-section
$hmp-cards-circle-color: $white;
$hmp-cards-text-color: $white;

// projects-section
$hmp-projects-text-color: $white;
$hmp-projects-accent-text-color: $orange;
$cloud-particle-center-bg-color: $white;
$cloud-particle-center-box-shadow-color: $gray;
$cloud-particle-top-bg-color: $white;
$cloud-particle-top-box-shadow-color: $white;
$cloud-drop-bg-color: $water-color;
$cloud-bottom-box-shadow-color: $white;

// my-way-section
$hmp-my-way-blink-color: $white;
$hmp-my-way-text-accent-color: $orange;
$hmp-my-way-text-color: $white;
$hmp-way-border-color: $white;
$hmp-way-btn-border-color: $milky;
$hmp-way-btn-hover-border-color: $orange;
$hmp-my-way-border-color: $white;

.home-page {
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	overflow: hidden;
}

// Same components

.hmp-titles {
	font-weight: 700;
	font-size: 42px;
	color: $hmp-title-color;
	letter-spacing: 0.5px;
	text-align: center;
	opacity: 0;
	transform: translateY(-30px);
}

.hmp-titles--animate {
	transform: translateY(0);
	opacity: 1;
	transition:
		transform 0.8s ease-out,
		opacity 0.8s ease-out;
}

.hmp-titles--rus-lang {
	font-size: 40px;
}

// Other components

.hmp-getting {
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 400px;
	}

	&__inner-text {
		margin-top: 70px;
		margin-left: 30px;
		overflow: hidden;
	}

	&__hidden-title {
		overflow: hidden;
	}

	&__title {
		transform: translateX(-370px);
		font-style: normal;
		font-weight: 700;
		line-height: 115%;
		font-size: 54px;
		letter-spacing: 0.5px;
	}

	&__title--animate {
		transform: translateX(0);
		transition: transform 1.2s ease-out;
	}

	&__title--font-color {
		color: $hmp-title-color;
	}

	&__title--accent-color {
		transition: color 0.4s ease-out;
		color: var(--hmp-getting-name-color);
	}

	&__title--rus-lang {
		line-height: 100%;
		font-size: 52px;
	}

	&__text-group {
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 70px;
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		color: $hmp-text-color;
		letter-spacing: 1px;
		overflow: hidden;
	}

	&__text--rus-lang {
		font-size: 34px;
	}

	&__blink {
		position: relative;
		left: -100%;
	}

	&__blink--animate {
		@keyframes hmp-getting-blink-start {
			0% {
				left: -100%;
			}

			100% {
				left: 0%;
			}
		}

		@keyframes hmp-getting-blink {
			0% {
				opacity: 1;
			}

			100% {
				opacity: 0;
			}
		}

		animation:
			hmp-getting-blink 0.7s infinite,
			hmp-getting-blink-start 0s forwards 0.3s;
	}

	&__inner-logo-3d {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 300px;
		height: 100%;
	}

	&__perspective {
		perspective: 550px;
		width: 250px;
		height: 250px;
		transition: all 0.6s ease-out;
	}

	&__preserve-3d {
		position: relative;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
	}

	&__preserve-3d--animate {
		@keyframes hmp-getting-logo-3d-rotation {
			0% {
				transform: rotateY(0deg);
			}

			100% {
				transform: rotateY(360deg);
			}
		}

		animation: hmp-getting-logo-3d-rotation 25s linear infinite;
	}

	&__sides {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__front {
		position: absolute;
		height: 92.3%;
		transform: translateZ(25px);
		backface-visibility: hidden;
	}

	&__front--animate {
		@keyframes hmp-getting-logo-3d-front-start {
			0% {
				box-shadow: 0 0 0 $hmp-logo-3d-border-color;
			}

			100% {
				box-shadow: 0 0 15px $hmp-logo-3d-border-color;
			}
		}

		animation: hmp-getting-logo-3d-front-start 0.5s ease-in forwards;
	}

	&__img {
		opacity: 0;
	}

	&__img--animate {
		@keyframes hmp-getting-logo-3d-img-start {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}

		animation: hmp-getting-logo-3d-img-start 1s linear forwards;
	}

	&__line-bottom {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0%;
		height: 2px;
		background: linear-gradient(-90deg, transparent, $hmp-logo-3d-border-color);
		border-top-right-radius: 1px;
		border-top-left-radius: 1px;
	}

	&__line-bottom--animate {
		@keyframes hmp-getting-logo-3d-line-bottom {
			0% {
				width: 0%;
			}

			100% {
				width: 100%;
			}
		}

		animation: hmp-getting-logo-3d-line-bottom 1s linear forwards;
	}

	&__line-top {
		position: absolute;
		top: 0;
		left: 0;
		width: 0%;
		height: 2px;
		background: linear-gradient(90deg, transparent, $hmp-logo-3d-border-color);
		border-top-right-radius: 1px;
		border-top-left-radius: 1px;
	}

	&__linte-top--animate {
		@keyframes hmp-getting-logo-3d-line-top {
			0% {
				width: 0%;
			}

			100% {
				width: 100%;
			}
		}

		animation: hmp-getting-logo-3d-line-top 1s linear forwards;
	}

	&__line-right {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 2px;
		height: 0%;
		background: linear-gradient(0deg, transparent, $hmp-logo-3d-border-color);
		border-top-right-radius: 1px;
		border-top-left-radius: 1px;
	}

	&__line-right--animate {
		@keyframes hmp-getting-logo-3d-line-right {
			0% {
				height: 0%;
			}

			100% {
				height: 100%;
			}
		}

		animation: hmp-getting-logo-3d-line-right 1s linear forwards;
	}

	&__line-left {
		position: absolute;
		top: 0;
		left: 0;
		width: 2px;
		height: 0%;
		background: linear-gradient(180deg, transparent, $hmp-logo-3d-border-color);
		border-top-right-radius: 1px;
		border-top-left-radius: 1px;
	}

	&__line-left--animate {
		@keyframes hmp-getting-logo-3d-line-left {
			0% {
				height: 0%;
			}

			100% {
				height: 100%;
			}
		}

		animation: hmp-getting-logo-3d-line-left 1s linear forwards;
	}

	&__back {
		position: absolute;
		transform: translateZ(-25px) rotateY(180deg);
		backface-visibility: hidden;
		box-shadow: 0 0 15px $hmp-logo-3d-border-color;
		height: 92.3%;
	}

	&__left {
		position: absolute;
		width: 20%;
		height: 92.3%;
		transform: translateX(-26px) rotateY(-90deg);
		backface-visibility: hidden;
		box-shadow: 0 0 15px $hmp-logo-3d-border-color;
	}

	&__right {
		position: absolute;
		width: 20%;
		height: 92.3%;
		transform: translateX(203px) rotateY(90deg);
		backface-visibility: hidden;
		box-shadow: 0 0 15px $hmp-logo-3d-border-color;
	}

	&__shadow {
		position: absolute;
		left: 45%;
		width: 30%;
		height: 100%;
		transform: translateY(150px) translateX(-50%) rotateZ(90deg) rotateY(90deg);
		filter: blur(10px);
		box-shadow: 0 0 150px $hmp-logo-3d-border-color;
		opacity: 0;
		transition: opacity 1s ease-out;
	}

	&__shadow--animate {
		opacity: 1;
	}

	@media (width <= 1150px) {
		&__inner-text {
			margin-top: 60px;
		}

		&__title {
			font-size: 52px;
		}

		&__title--rus-lang {
			font-size: 50px;
		}

		&__text-group {
			margin-top: 16px;
			font-size: 34px;
		}

		&__text--rus-lang {
			font-size: 32px;
		}

		&__inner-logo-3d {
			transform: scale(0.9);
			width: auto;
		}
	}

	@media (width <= 1000px) {
		&__wrapper {
			flex-direction: column;
			margin: 0;
			height: auto;
		}

		&__inner-text {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: 0;
		}

		&__title {
			transform: translateY(-170px);
			text-align: center;
		}

		&__text-group {
			text-align: center;
		}

		&__title--animate {
			transform: translateY(0);
			transition: transform 1.2s ease-out;
		}

		&__inner-logo-3d {
			position: relative;
			left: 15px;
			margin-top: 20px;
			height: auto;
		}
	}

	@media (width <= 800px) {
		&__inner-text {
			margin-top: 55px;
		}

		&__title {
			font-size: 50px;
		}

		&__title--rus-lang {
			font-size: 48px;
		}

		&__text-group {
			margin-bottom: 60px;
			height: 80px;
			font-size: 32px;
		}

		&__text--rus-lang {
			font-size: 30px;
		}

		&__inner-logo-3d {
			transform: scale(0.85);
			margin-top: 0;
		}
	}

	@media (width <= 600px) {
		&__inner-text {
			margin-top: 50px;
		}

		&__title {
			font-size: 44px;
		}

		&__title--rus-lang {
			font-size: 42px;
		}

		&__text-group {
			margin-top: 14px;
			margin-bottom: 50px;
			height: 75px;
			font-size: 30px;
		}

		&__text--rus-lang {
			font-size: 28px;
		}

		&__inner-logo-3d {
			transform: scale(0.8);
		}
	}

	@media (width <= 480px) {
		&__inner-text {
			margin-top: 45px;
		}

		&__title {
			font-size: 42px;
		}

		&__title--rus-lang {
			font-size: 40px;
		}

		&__text-group {
			margin-top: 12px;
			margin-bottom: 45px;
			height: 70px;
			font-size: 28px;
		}

		&__text--rus-lang {
			font-size: 26px;
		}

		&__inner-logo-3d {
			transform: scale(0.75);
		}
	}

	@media (width <= 430px) {
		&__title {
			font-size: 40px;
		}

		&__title--rus-lang {
			font-size: 38px;
		}

		&__text-group {
			margin-top: 12px;
			height: 65px;
			font-size: 26px;
		}

		&__text--rus-lang {
			font-size: 24px;
		}

		&__inner-logo-3d {
			transform: scale(0.7);
		}
	}
}

.hmp-scroll {
	&__wrapper {
		display: flex;
		align-items: center;
		margin-left: 160px;
		height: calc(100vh - 500px);
	}

	// &__line {}

	&__hide-text {
		margin-left: 30px;
		width: 190px;
		letter-spacing: -4px;
	}

	&__letter-left {
		position: relative;
		left: -110%;
	}

	&__letter-left--animate {
		left: 0;
		transition: left 0.8s ease-out;
	}

	&__letter-right {
		position: relative;
		right: -110%;
	}

	&__letter-right--animate {
		right: 0;
		transition: right 0.8s ease-out;
	}

	@media (width <= 1150px) {
		&__wrapper {
			margin-left: 140px;
		}

		&__hide-text {
			width: auto;
			font-size: 34px;
		}
	}

	@media (width <= 1000px) {
		&__wrapper {
			flex-direction: column;
			margin-top: 150px;
			margin-left: 0;
			height: auto;
		}

		&__line {
			width: 0;
			height: 4px;
			transition:
				height 0s,
				width 1s ease-out;
		}

		.scroll-section__line--animate {
			width: 100%;
		}

		&__hide-text {
			margin-top: 20px;
			margin-left: 0;
		}
	}

	@media (width <= 800px) {
		&__wrapper {
			margin-top: 140px;
		}

		&__hide-text {
			font-size: 32px;
			letter-spacing: -3.5px;
		}
	}

	@media (width <= 600px) {
		&__wrapper {
			margin-top: 130px;
		}

		&__hide-text {
			margin-top: 18px;
			font-size: 30px;
		}
	}

	@media (width <= 480px) {
		&__wrapper {
			margin-top: 110px;
		}

		&__hide-text {
			margin-top: 15px;
			font-size: 28px;
			letter-spacing: -3px;
		}
	}

	@media (height <= 800px) and (width >= 1000px) {
		&__wrapper {
			height: 70vh;
		}
	}
}

.hmp-cards {
	$colors: (
		'html': $html-color,
		'css': $css-color,
		'js': $js-color,
		'react': $react-color,
	);

	@mixin hmp-cards-colors($color, $modifier) {
		&__circle--#{$modifier} {
			transition: all 0.2s linear;
			stroke: $color;
			filter: drop-shadow(0 0 3px $color);
		}

		&__value-box--#{$modifier} {
			filter: drop-shadow(0 0 15px $color);
		}

		&__progress-text--#{$modifier} {
			filter: drop-shadow(0 0 15px $color);
		}

		&__container--#{$modifier}-animate {
			@keyframes cards-content-container-#{$modifier} {
				0% {
					border-top: 1px solid transparent;
					border-bottom: 1px solid transparent;
				}

				100% {
					border-top: 1px solid $color;
					border-bottom: 1px solid $color;
				}
			}

			animation: cards-content-container-#{$modifier} 0.6s ease-out forwards;
		}

		&__text--#{$modifier} {
			color: $color;
		}

		&__progress-text--#{$modifier} {
			color: $color;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 50px;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__inner-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 70px;
		row-gap: 50px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 60px 0;
		width: 100%;
		flex-wrap: wrap;
		gap: 50px 0;
		border: 0 solid transparent;
	}

	&__inner-progress {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 30px;
		width: 350px;
		height: 225px;
		row-gap: 25px;
	}

	&__svg-box {
		position: relative;
		opacity: 0;
		transform: translateY(-30px);
	}

	&__svg-box--animate {
		@keyframes hmp-cards-svg-box {
			0% {
				opacity: 0;
				transform: translateY(-30px);
			}

			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		animation: hmp-cards-svg-box 0.8s forwards ease-out;
	}

	&__svg {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 150px;
		height: 150px;
	}

	&__circle {
		fill: none;
		stroke: $hmp-cards-circle-color;
		stroke-width: 8;
		transform: translate(5px, -5px) rotate(-90deg);
		transform-origin: center;
	}

	&__value-box {
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		align-items: flex-end;
		color: $hmp-cards-text-color;
		transform: translate(-50%, -50%);
	}

	&__value {
		font-style: normal;
		font-weight: 500;
		line-height: 100%;
		font-size: 40px;
	}

	&__precent {
		position: relative;
		bottom: 1px;
		left: 5px;
		font-style: normal;
		font-weight: 800;
		font-size: 20px;
	}

	&__progress-text {
		position: relative;
		left: 5px;
		font-style: normal;
		font-weight: 700;
		font-size: 40px;
		letter-spacing: 1px;
		text-align: center;
		opacity: 0;
		transform: translateY(30px);
	}

	&__progress-text--animate {
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 0.8s ease-out,
			transform 0.8s ease-out;
	}

	&__inner-text {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 65%;
		height: fit-content;
		gap: 40px 80px;
		flex-wrap: wrap;
	}

	&__text {
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		color: $hmp-cards-text-color;
		letter-spacing: 0.5px;
		text-align: center;
		opacity: 0;
		transform: translateY(-20px);
	}

	&__text--animate {
		transition:
			opacity 0.6s ease-out,
			transform 0.6s ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	@each $modifier, $color in $colors {
		@include hmp-cards-colors($color, $modifier);
	}

	@media (width <= 1150px) {
		&__inner-content {
			margin-top: 60px;
		}

		&__inner-progress {
			row-gap: 22px;
		}

		&__svg {
			transform: scale(0.9);
		}

		&__value {
			font-size: 36px;
		}

		&__progress-text {
			font-size: 38px;
		}
	}

	@media (width <= 1000px) {
		&__wrapper {
			padding-top: 100px;
		}
	}

	@media (width <= 800px) {
		&__inner-content {
			margin-top: 50px;
		}

		&__container {
			padding-top: 50px;
			row-gap: 40px;
		}

		&__inner-progress {
			row-gap: 20px;
		}

		&__svg {
			transform: scale(0.8);
		}

		&__value {
			font-size: 34px;
		}

		&__precent {
			font-size: 18px;
		}

		&__progress-text {
			font-size: 36px;
		}

		&__inner-text {
			gap: 40px 50px;
		}

		&__text {
			font-size: 20px;
		}
	}

	@media (width <= 600px) {
		&__container {
			padding-top: 30px;
			row-gap: 30px;
		}

		&__inner-progress {
			row-gap: 15px;
			padding: 0;
		}

		&__value {
			font-size: 32px;
		}

		&__precent {
			font-size: 16px;
		}

		&__progress-text {
			font-size: 34px;
		}

		&__inner-text {
			gap: 30px 50px;
		}
	}

	@media (width <= 480px) {
		&__inner-content {
			margin-top: 40px;
		}

		&__container {
			padding-top: 10px;
			row-gap: 30px;
		}

		&__inner-progress {
			row-gap: 5px;
			padding: 0;
		}

		&__svg {
			transform: scale(0.75);
		}

		&__value {
			font-size: 30px;
		}

		&__precent {
			font-size: 16px;
		}

		&__progress-text {
			font-size: 30px;
		}

		&__inner-text {
			gap: 20px 50px;
		}

		&__text {
			font-size: 18px;
		}
	}

	@media (width <= 430px) {
		&__container {
			padding-top: 0;
		}

		&__inner-progress {
			width: auto;
		}
	}
}

.hmp-projects {
	&__wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 180px;
		margin-left: 20px;
	}

	&__title {
		margin-bottom: 30px;
		text-align: left;
		transition:
			margin 0.2s ease,
			transform 0.8s ease-out,
			opacity 0.8s ease-out;
	}

	&__title--rus-lang {
		margin-bottom: 20px;
	}

	&__line {
		display: none;
	}

	&__inner-content {
		display: flex;
		justify-content: space-between;
	}

	&__inner-text {
		display: flex;
		flex-direction: column;
	}

	&__hidden-text {
		overflow: hidden;
	}

	&__text {
		transform: translateY(-200px);
		display: flex;
		flex-direction: column;
		width: 600px;
		font-weight: 500;
		font-size: 36px;
		color: $hmp-projects-text-color;
	}

	&__text--animate {
		transform: translateY(0);
		transition: transform 1.2s ease-out;
	}

	&__text--rus-lang {
		font-size: 32px;
	}

	&__text-span {
		margin-top: 5px;
		color: $hmp-projects-accent-text-color;
	}

	&__inner-cloud {
		position: relative;
		overflow: hidden;
		top: -80px;
		filter: drop-shadow(0 0 30px transparent);
		perspective: 100px;
		margin-right: 20px;
	}

	&__inner-cloud--animate {
		@keyframes cloud-container-visible {
			0% {
				overflow: hidden;
			}

			100% {
				overflow: visible;
			}
		}

		@keyframes cloud-container-filter {
			0% {
				filter: drop-shadow(0 0 30px transparent);
			}

			100% {
				filter: drop-shadow(0 0 30px $cloud-particle-center-box-shadow-color);
			}
		}

		animation:
			cloud-container-visible 0s linear forwards,
			cloud-container-filter 1s linear forwards;
	}

	&__preserve-3d {
		transform-style: preserve-3d;
	}

	&__particle-center {
		position: relative;
		top: -120px;
		width: 350px;
		height: 100px;
		background-color: $cloud-particle-center-bg-color;
		border-radius: 100px;
		box-shadow: 3px 3px 3px $cloud-particle-center-box-shadow-color;
	}

	&__particle-center--animate {
		@keyframes cloud-partilce-center-start {
			0% {
				top: -120px;
			}

			100% {
				top: 0;
			}
		}

		animation: cloud-partilce-center-start 0.7s ease-out forwards;
	}

	&__particle-top {
		position: absolute;
		z-index: -1;
		top: -50px;
		left: 55px;
		width: 0;
		height: 0;
		background-color: $cloud-particle-top-bg-color;
		border-radius: 100%;
	}

	&__particle-top--animate {
		@keyframes cloud-particle-top-start {
			0% {
				width: 0;
				height: 0;
			}

			50% {
				width: 110px;
				height: 110px;
				box-shadow: 0 0 0 0 $cloud-particle-top-box-shadow-color;
			}

			100% {
				width: 110px;
				height: 110px;
				box-shadow: 90px 10px 0 30px $cloud-particle-top-box-shadow-color;
			}
		}

		animation: cloud-particle-top-start 1s ease-out forwards;
	}

	&__drop {
		@keyframes cloud-drop {
			0% {
				transform: translateY(0) scaleY(1);
			}

			70% {
				transform: translateY(235px) scaleY(1);
			}

			80% {
				transform: translateY(235px) scaleY(0.1);
			}

			100% {
				transform: translateY(235px) scaleY(0.1) scaleX(5);
			}
		}

		position: absolute;
		z-index: -1;
		top: 10px;
		width: 2px;
		height: 10px;
		background-color: $cloud-drop-bg-color;
		transform-origin: bottom;
		animation: cloud-drop 2s linear infinite;
	}

	&__bottom {
		position: absolute;
		bottom: -170px;
		width: 340px;
		height: 20px;
		background-color: transparent;
		border: 1px solid transparent;
		opacity: 0;
		transform: rotateX(60deg);
		box-shadow: 0 0 0 transparent;
	}

	&__bottom--animate {
		@keyframes cloud-bottom-start {
			0% {
				opacity: 0;
			}

			50% {
				opacity: 1;
				box-shadow: 0 0 5px transparent;
			}

			100% {
				opacity: 1;
				box-shadow: 0 0 5px $cloud-bottom-box-shadow-color;
			}
		}

		animation: cloud-bottom-start 1s forwards linear;
	}

	@media (width <= 1150px) {
		&__wrapper {
			align-items: center;
			margin-top: 80px;
			margin-left: 0;
		}

		&__line {
			display: block;
		}

		&__inner-text {
			margin-top: 20px;
		}

		&__text {
			width: auto;
			font-size: 32px;
			text-align: center;
		}

		&__text--rus-lang {
			font-size: 30px;
		}

		&__inner-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: auto;
		}

		&__inner-cloud {
			top: 0;
			margin-top: 150px;
			margin-right: 0;
			height: 250px;
			transform: scale(0.95);
		}

		&__particle-center {
			width: 335px;
		}
	}

	@media (width <= 800px) {
		&__text {
			font-size: 30px;
		}

		&__text--rus-lang {
			font-size: 28px;
		}

		&__inner-cloud {
			margin-top: 130px;
			transform: scale(0.9);
		}
	}

	@media (width <= 600px) {
		&__text {
			width: auto;
			font-size: 28px;
		}

		&__text--rus-lang {
			font-size: 26px;
		}

		&__inner-cloud {
			margin-top: 120px;
			transform: scale(0.85);
		}
	}

	@media (width <= 480px) {
		&__text {
			font-size: 24px;
		}

		&__text--rus-lang {
			font-size: 22px;
		}

		&__inner-cloud {
			margin-top: 120px;
			transform: scale(0.8);
		}
	}

	@media (width <= 430px) {
		&__inner-cloud {
			margin-top: 80px;
			transform: scale(0.75);
		}

		&__particle-center {
			max-width: 300px;
		}

		&__particle-top {
			left: 35px;
		}

		&__bottom {
			width: 300px;
		}
	}
}

.hmp-way {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 220px;
		margin-bottom: 30px;
	}

	&__title {
		margin-bottom: 30px;
	}

	// &__line {}

	&__inner-content {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		padding: 20px;
		width: 100%;
		min-height: 0;
		border: 2px solid $hmp-my-way-border-color;
		opacity: 0;
		row-gap: 5px;
		will-change: min-height;
	}

	&__inner-content--animate {
		@keyframes my-way-container {
			0% {
				min-height: 0;
				opacity: 0;
			}

			100% {
				min-height: 200px;
				opacity: 1;
			}
		}

		animation: my-way-container 0.6s ease-out forwards;
	}

	&__blink {
		transform: translateY(2px);
		display: inline-block;
		width: 6px;
		height: 16px;
		background-color: $hmp-my-way-blink-color;
		animation: hmp-way-blink 0.6s linear infinite;

		@keyframes hmp-way-blink {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}
	}

	// &__text-box {}

	&__text {
		font-family: Furore, sans-serif;
		font-size: 18px;
		color: $hmp-my-way-text-color;
	}

	&__text--date {
		color: $hmp-my-way-text-accent-color;
	}

	&__btn-show {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition:
			top 0.4s ease-in,
			letter-spacing 0.2s ease;
	}

	&__btn-show--hide-show {
		top: 170%;
	}

	&__btn-again {
		position: absolute;
		top: -70%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition:
			top 0.4s ease-in,
			letter-spacing 0.2s ease;
	}

	&__btn-again--hide-show {
		top: 50%;
	}

	&__btn {
		position: relative;
		margin-top: 20px;
		width: 100%;
		height: 40px;
		font-size: 26px;
		color: $hmp-my-way-text-color;
		letter-spacing: 0.5px;
		background-color: transparent;
		border: none;
		opacity: 0;
		cursor: pointer;
		overflow: hidden;
		box-shadow: 0 0 4px $hmp-way-btn-border-color;
		transform: translateY(15px);

		& span {
			width: 100%;
		}

		&:hover {
			color: $hmp-my-way-text-accent-color;
			box-shadow: 0 0 4px $hmp-way-btn-hover-border-color;
		}

		&:hover .hmp-way__btn-show {
			letter-spacing: 1px !important;
		}

		&:hover .hmp-way__btn-again {
			letter-spacing: 1px !important;
		}
	}

	&__btn--rus-lang {
		font-size: 24px;
	}

	&__btn--animate {
		opacity: 1;
		transform: translateY(0);
		transition:
			opacity 1s 0.4s ease-out,
			transform 0.8s 0.4s ease-out,
			color 0.2s ease,
			box-shadow 0.3s ease;
	}

	@media (width <= 1150px) {
		&__wrapper {
			margin-top: 100px;
		}
	}

	@media (width <= 800px) {
		&__inner-content {
			margin-top: 40px;
			padding: 15px;
			row-gap: 3px;
		}

		&__btn {
			font-size: 24px;
		}

		&__btn--rus-lang {
			font-size: 22px;
		}
	}

	@media (width <= 600px) {
		&__inner-content {
			margin-top: 30px;
			padding: 15px;
		}

		&__btn {
			height: 35px;
			font-size: 22px;
			row-gap: 3px;
		}

		&__btn--rus-lang {
			font-size: 20px;
		}

		&__text {
			font-size: 16px;
		}
	}

	@media (width <= 480px) {
		&__inner-content {
			margin-top: 30px;
			padding: 10px;
		}

		&__btn {
			height: 35px;
			font-size: 20px;
			row-gap: 3px;
		}

		&__btn--rus-lang {
			font-size: 18px;
		}

		&__text {
			font-size: 14px;
		}
	}

	@media (hover: none) and (pointer: coarse) {
		&__btn {
			&:hover {
				color: $hmp-my-way-text-color;
				box-shadow: 0 0 4px $hmp-way-btn-border-color;
			}

			&:hover .hmp-way__btn-show {
				letter-spacing: 0 !important;
			}

			&:hover .hmp-way__btn-again {
				letter-spacing: 0 !important;
			}
		}
	}
}

@media (width <= 1150px) {
	.hmp-titles {
		margin-bottom: 18px;
		font-size: 38px;
	}

	.hmp-titles--rus-lang {
		font-size: 36px;
	}
}

@media (width <= 800px) {
	.hmp-titles {
		margin-bottom: 15px;
		font-size: 36px;
	}

	.hmp-titles--rus-lang {
		font-size: 34px;
	}
}

@media (width <= 600px) {
	.hmp-titles {
		margin-bottom: 12px;
		width: auto;
		font-size: 34px;
		text-align: center;
	}

	.hmp-titles--rus-lang {
		font-size: 32px;
	}
}

@media (width <= 430px) {
	.hmp-titles {
		margin-bottom: 10px;
		font-size: 32px;
	}

	.hmp-titles--rus-lang {
		font-size: 30px;
	}
}
