$orange: #f8aa01;
$white: #fff;
$black: #000;
$gray: #a9a9a9;
$milky: #f5deb3;

// same elements
$reusme-title-color: $orange;
$resume-subtitle-color: $white;
$resume-blink-color: $white;
$resume-btn-color: $white;
$resume-btn-hover-color: $orange;
$resume-btn-bg-color: transparent;
$resume-btn-box-shadow-color: $milky;
$resume-btn-box-shadow-hover-color: $orange;

// resume-getting-colors
$resume-getting-title-color: $white;
$resume-getting-subtitle-color: $white;
$resume-getting-span-subtitle-color: $orange;

// resume-scroll-colors
$resume-scroll-line-color: $white;
$resume-scroll-text-color: $white;

// rusume-feedback
$resume-feedback-box-shadow-color: transparent;
$resume-feedback-animate-box-shadow-color: $milky;
$resume-feedback-text-color: $white;
$resume-feedback-label-focus-bg-color: $black;
$resume-feedbacl-focus-border-color: $orange;
$resume-feedback-border-color: $white;

// font var
$resume-titles-font-size: 40px;
$resume-titles-font-weight: 600;
$resume-subtitles-font-size: 30px;
$resume-subtitles-font-weight: 600;

.resume-page {
	position: absolute;
	left: -9999px;
	min-height: 100vh;
}

// mixins

@mixin btn-blink {
	content: '';
	position: absolute;
	bottom: -35px;
	left: -20%;
	width: 10%;
	transform: rotate(30deg);
	pointer-events: none;
	height: 150px;
	background-color: $resume-blink-color;
	opacity: 0.3;

	@keyframes link-box-blink-animate {
		0% {
			left: -20%;
			opacity: 0.3;
		}

		50% {
			left: 110%;
			opacity: 0.3;
		}

		95% {
			left: 110%;
			opacity: 0;
		}

		100% {
			left: -20%;
			opacity: 0;
		}
	}

	animation: link-box-blink-animate 3.5s 1.5s linear infinite;
}

// Same components

.resume-hide-title {
	overflow: hidden;
}

.resume-title {
	position: relative;
	top: -100px;
	display: flex;
	align-items: center;
	font-weight: $resume-titles-font-weight;
	font-size: $resume-titles-font-size;
	color: $reusme-title-color;
	text-align: center;
}

.resume-title--animate {
	top: 0;
	transition:
		top 0.8s ease-out,
		margin 0.4s ease;
}

.resume-title--rus-lang {
	font-size: 38px;
}

.resume-hide-subtitle {
	overflow: hidden;
}

.resume-subtitle {
	position: relative;
	top: -80px;
	display: flex;
	align-items: center;
	font-weight: $resume-subtitles-font-weight;
	font-size: $resume-subtitles-font-size;
	color: $resume-subtitle-color;
	letter-spacing: 1px;
	text-align: center;
}

.resume-subtitle--animate {
	top: 0;
	transition: top 0.8s ease-out 0.2s;
}

.resume-subtitle--rus-lang {
	font-size: 28px;
	letter-spacing: 0;
}

.resume-btn-box {
	position: relative;
	background-color: $resume-btn-bg-color;
	border-radius: 2px;
	opacity: 0;
	box-shadow: 0 0 4px $resume-btn-box-shadow-color;
	transform: scale(0);
	overflow: hidden;

	&:hover {
		box-shadow: 0 0 8px $resume-btn-box-shadow-hover-color;
	}
}

.resume-btn-box--animate {
	opacity: 1;
	transform: scale(1);
	transition:
		transform 0.8s ease-out,
		box-shadow 0.2s ease,
		width 0.4s ease;

	&::after {
		@include btn-blink;
	}
}

.resume-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-weight: 400;
	font-size: 32px;
	color: $resume-btn-color;
	background-color: transparent;
	border: none;
	cursor: pointer;

	&:hover {
		color: $resume-btn-hover-color;
		letter-spacing: 1px;
	}
}

// Other components

.resume-getting {
	&__wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		margin-top: 40px;
		margin-left: 50px;
		transition:
			margin 0.4s ease,
			row-gap 0.4s ease;
	}

	// &__wrapper--rus-lang {}

	&__hide-title {
		overflow: hidden;
	}

	&__title {
		position: relative;
		top: -80px;
		display: flex;
		margin-bottom: 15px;
		font-weight: 700;
		font-size: 50px;
		color: $resume-getting-title-color;
		letter-spacing: 0.7px;
	}

	&__title--animate {
		transition:
			top 0.6s ease-out,
			margin-bottom 0.4s ease;
		top: 0;
	}

	// &__title--rus-lang {}

	&__hide-subtitle {
		overflow: hidden;
	}

	&__subtitle {
		position: relative;
		top: -120px;
		margin-right: 50px;
		font-weight: 600;
		font-size: 32px;
		color: $resume-getting-subtitle-color;
		letter-spacing: 0.5px;
	}

	&__subtitle--rus-lang {
		font-size: 30px;
	}

	&__subtitle--accent-color {
		color: $resume-getting-span-subtitle-color;
	}

	&__subtitle--animate {
		transition:
			top 0.6s 0.3s ease-out,
			margin-bottom 0.4s ease;
		top: 0;
	}

	@media (width <= 1150px) {
		&__wrapper {
			margin-left: 30px;
		}

		&__subtitle {
			font-size: 30px;
		}

		&__subtitle--rus-lang {
			font-size: 28px;
		}
	}

	@media (width <= 800px) {
		&__wrapper {
			margin-top: 30px;
		}

		&__title {
			font-size: 46px;
		}

		&__title--rus-lang {
			margin-bottom: 20px;
		}

		&__subtitle {
			font-size: 26px;
		}

		&__subtitle--rus-lang {
			font-size: 24px;
		}
	}

	@media (width <= 600px) {
		&__title {
			font-size: 40px;
		}

		&__subtitle {
			font-size: 24px;
		}

		&__subtitle--rus-lang {
			font-size: 22px;
		}
	}

	@media (width <= 480px) {
		&__wrapper {
			row-gap: 15px;
			align-items: center;
			margin-left: 0;
		}

		&__title {
			margin-bottom: 10px;
		}

		&__subtitle {
			margin-right: 0;
			text-align: center;
		}
	}

	@media (width <= 430px) {
		&__title {
			font-size: 38px;
		}

		&__subtitle {
			font-size: 20px;
		}

		&__subtitle--rus-lang {
			font-size: 18px;
		}
	}
}

.resume-scroll {
	&__wrapper {
		display: flex;
		align-items: center;
		margin-left: 140px;
		height: calc(100vh - 320px);
		transition:
			margin 0.4s ease,
			height 0.4s ease;
	}

	// &__line {}

	&__text {
		margin-left: 30px;
		letter-spacing: -4.5px;
		transition:
			letter-spacing 0.4s ease,
			margin 0.4s ease;
	}

	&__letter {
		position: relative;
		transition:
			top 0.8s ease-out,
			bottom 0.8s ease-out,
			font-size 0.4s ease;
	}

	&__letter--top {
		top: -70px;
	}

	&__letter--bottom {
		bottom: -70px;
	}

	&__letter--animate-top {
		top: 0;
	}

	&__letter--animate-bottom {
		bottom: 0;
	}

	@media (width <= 1150px) {
		&__wrapper {
			margin-left: 110px;
		}

		&__text {
			font-size: 34px;
		}
	}

	@media (width <= 800px) {
		&__wrapper {
			margin-left: 90px;
		}

		&__text {
			margin-left: 20px;
			font-size: 32px;
			letter-spacing: -3.5px;
		}
	}

	@media (width <= 600px) {
		&__wrapper {
			margin-left: 80px;
		}

		&__text {
			font-size: 30px;
		}
	}

	@media (width <= 480px) {
		&__wrapper {
			flex-direction: column;
			margin: 40px 0 60px;
			row-gap: 10px;
			height: auto;
		}

		&__line {
			width: 100%;
			height: 4px;
		}

		&__text {
			margin: 0;
		}
	}

	@media (width <= 430px) {
		&__wrapper {
			margin: 35px 0 60px;
			row-gap: 10px;
		}

		&__text {
			font-size: 28px;
			letter-spacing: -3px;
		}
	}
}

.resume-download {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 50px;
	}

	// &__hide-title {}

	&__title {
		margin-bottom: 5px;
		letter-spacing: 0.5px;
	}

	&__hide-subtitle {
		margin-bottom: 20px;
	}

	// &__subtitle {}

	&__line {
		margin-bottom: 40px;
	}

	&__link-box {
		width: 40%;
		height: 50px;
	}

	// &__link {}

	&__link--rus-lang {
		font-size: 30px;
	}

	@media (width <= 1150px) {
		&__link-box {
			width: 60%;
		}
	}

	@media (width <= 800px) {
		&__link-box {
			width: 70%;
		}

		&__link {
			font-size: 30px;
		}

		&__link--rus-lang {
			font-size: 28px;
		}
	}

	@media (width <= 600px) {
		&__link-box {
			width: 90%;
			height: 45px;
		}

		&__link {
			font-size: 28px;
		}

		&__link--rus-lang {
			font-size: 26px;
		}
	}

	@media (width <= 430px) {
		&__link-box {
			width: 100%;
			height: 40px;
		}

		&__link {
			font-size: 26px;
		}

		&__link--rus-lang {
			font-size: 24px;
		}
	}
}

.resume-feedback {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 80px 0 50px;
		transition: margin 0.4s ease;
	}

	&__hide-title {
		margin-bottom: 5px;
	}

	&__title {
		letter-spacing: 1px;
	}

	&__hide-subtitle {
		margin-bottom: 20px;
	}

	// &__subtitle {}

	// &__line {}

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 25px;
		margin-top: 50px;
		padding: 30px 50px;
		width: 60%;
		letter-spacing: 1px;
		border-radius: 10px;
		box-shadow: 0 0 10px $resume-feedback-box-shadow-color;
	}

	&__form--animate {
		box-shadow: 0 0 10px $resume-feedback-animate-box-shadow-color;
		transition:
			box-shadow 1s ease-out,
			padding 0.6s ease,
			width 0.6s ease;
	}

	&__form-group {
		display: flex;
		flex-direction: column;
		row-gap: 12px;
	}

	&__text {
		display: flex;
		align-items: center;
		height: 30px;
		font-weight: 600;
		font-size: 22px;
		color: $resume-feedback-text-color;
	}

	// &__text--russian-lang {}

	&__input-box {
		position: relative;
		display: flex;
		align-items: center;
		opacity: 0;
	}

	&__input-box--animate {
		opacity: 1;
		transition: all 0.8s ease-out;
	}

	&__input-box--textarea {
		align-items: flex-start;
	}

	&__label {
		position: absolute;
		padding: 0 10px;
		font-weight: 500;
		font-size: 14px;
		color: $resume-feedback-text-color;
		opacity: 0.6;
		cursor: text;
		transition: all 0.2s ease;
	}

	&__label--textarea {
		top: 10px;
	}

	&__input {
		padding: 12px;
		width: 100%;
		font-family: sans-serif;
		font-size: 16px;
		color: $resume-feedback-text-color;
		background-color: transparent;
		border: 1px solid $resume-feedback-border-color;
		overflow: hidden;
		resize: none;
		outline: none;
		transition: all 0.2s ease;

		&:focus {
			border-color: $resume-feedbacl-focus-border-color;
		}

		&:focus + .resume-feedback__label,
		&:not(:placeholder-shown) + .resume-feedback__label {
			background-color: $resume-feedback-label-focus-bg-color;
			border-right: 2px solid $resume-feedbacl-focus-border-color;
			border-left: 2px solid $resume-feedbacl-focus-border-color;
			opacity: 1;
			transform: scale(0.9) translateY(-24px) translateX(4px);
		}

		&:not(:focus) + .resume-feedback__label {
			border-color: $resume-feedback-border-color;
		}
	}

	&__input--textarea {
		&:focus + .resume-feedback__label--textarea,
		&:valid + .resume-feedback__label--textarea {
			transform: scale(0.9) translateY(-20px) translateX(4px);
		}
	}

	&__form-btn-box {
		&::after {
			width: 6%;
			animation: link-box-blink-animate 4s 2s linear infinite;
		}
	}

	&__form-btn {
		height: 40px;
	}

	&__form-btn--rus-lang {
		font-size: 30px;
	}

	@media (width <= 1150px) {
		&__form {
			padding: 30px 80px;
			width: 80%;
		}
	}

	@media (width <= 800px) {
		&__form {
			padding: 30px 50px;
			width: 90%;
			row-gap: 20px;
		}

		&__text {
			height: 26px;
			font-size: 20px;
		}

		&__form-btn {
			font-size: 30px;
		}

		&__form-btn--rus-lang {
			font-size: 28px;
		}
	}

	@media (width <= 600px) {
		&__form {
			padding: 30px;
			width: 100%;
			row-gap: 20px;
		}

		&__input {
			font-size: 14px;
		}

		&__text {
			height: 23px;
			font-size: 18px;
		}

		&__form-btn {
			font-size: 26px;
		}

		&__form-btn--rus-lang {
			font-size: 24px;
		}
	}

	@media (width <= 430px) {
		&__wrapper {
			margin: 60px 0 40px;
		}

		&__title {
			margin-bottom: 5px !important;
		}

		&__form {
			margin-top: 40px;
			padding: 25px 20px;
			width: 100%;
			row-gap: 15px;
		}

		&__form-btn {
			font-size: 24px;
		}

		&__form-btn--rus-lang {
			font-size: 22px;
		}
	}
}

@media (width <= 1150px) {
	.resume-title {
		font-size: 38px;
	}

	.resume-title--rus-lang {
		margin-bottom: 10px;
		font-size: 36px;
	}

	.resume-subtitle {
		font-size: 28px;
	}

	.resume-subtitle--rus-lang {
		font-size: 26px;
	}
}

@media (width <= 800px) {
	.resume-title {
		font-size: 36px;
	}

	.resume-title--rus-lang {
		font-size: 34px;
	}

	.resume-subtitle {
		font-size: 26px;
	}

	.resume-subtitle--rus-lang {
		font-size: 24px;
	}
}

@media (width <= 600px) {
	.resume-title {
		font-size: 34px;
	}

	.resume-title--rus-lang {
		font-size: 32px;
	}

	.resume-subtitle {
		font-size: 24px;
	}

	.resume-subtitle--rus-lang {
		font-size: 22px;
	}
}

@media (width <= 430px) {
	.resume-title {
		margin-bottom: 10px;
		font-size: 26px;
	}

	.resume-title--rus-lang {
		font-size: 24px;
	}

	.resume-subtitle {
		font-size: 20px;
	}

	.resume-subtitle--rus-lang {
		font-size: 18px;
	}
}
