* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Furore, sans-serif;
	text-decoration: none;
	scrollbar-width: thin;
	scrollbar-color: var(--thumb-color) var(--scrollbar-bg-color);
}

ul,
li {
	list-style: none;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
