$orange: #f8aa01;
$white: #fff;
$black: #000;
$gray: #a9a9a9;
$milky: #f5deb3;

// soft-colors
$vs-code: #007acc;
$pixel-perfect: #ff84af;
$photoshop: #31a8ff;
$bootstrap: #7952b3;
$git: #f34f29;

// same elements

$uses-title-color: $orange;
$uses-text-hover-color: $orange;
$uses-text-color: $white;
$uses-btn-border-color: $milky;
$uses-btn-border-hover-color: $orange;
$uses-hide-group-border-color: $milky;

// uses-getting-color
$uses-getting-title-color: $white;
$uses-getting-text-color: $white;
$uses-getting-text-span-color: $orange;

// uses-equipment
$uses-equipment-text-color: $white;

// uses-linters
$uses-linters-text-color: $white;
$uses-linters-hover-text-color: $orange;
$uses-linters-accent-text-color: $orange;
$uses-linters-border-color: $milky;
$uses-linters-border-hover-color: $orange;
$uses-linters-line-color: $white;

.uses-page {
	position: absolute;
	left: -9999px;
	min-height: 100vh;
}

// mixins

// Same components

.uses-title {
	font-weight: 600;
	font-size: 50px;
	color: $uses-title-color;
	letter-spacing: 0.5px;
	text-align: center;
	opacity: 0;
	transform: translateY(-30px);
}

.uses-title--animate {
	opacity: 1;
	transform: translateY(0);
	transition:
		transform 1.2s ease-out,
		opacity 1.2s ease-out,
		margin 0.4s ease;
}

.uses-title--rus-lang {
	font-size: 48px;
}

.uses-item {
	display: flex;
	flex-direction: column;
}

.uses-text {
	display: flex;
	align-items: center;
	width: 180px;
	height: 32px;
	font-weight: 500;
	font-size: 26px;
	color: $uses-text-color;
	letter-spacing: 0.5px;
	transition: color 0.2s ease;
	pointer-events: none;
}

.uses-img {
	pointer-events: none;
	margin-right: -22px;
	opacity: 0;
	transform: rotate(90deg);
}

.uses-img--animate {
	margin-right: -8px !important;
	opacity: 1;
	transition:
		transform 0.3s ease-out,
		margin 0.6s ease-out,
		opacity 0.6s ease-out,
		filter 0.2s ease;
	transform: rotate(90deg);
}

.uses-img--open {
	transform: rotate(0deg) translateY(0);
}

.uses-btn {
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	height: 50px;
	background-color: transparent;
	border: none;
	opacity: 0;
	cursor: pointer;
	transition:
		box-shadow 0.2s ease,
		opacity 0.8s ease-out;
	box-shadow: 0 0 4px $uses-btn-border-color;

	&:hover {
		box-shadow: 0 0 6px $uses-btn-border-hover-color;
	}

	&:hover .uses-text {
		color: $uses-text-hover-color;
	}

	&:hover .uses-img {
		filter: drop-shadow(0 0 4px $uses-btn-border-hover-color);
	}
}

.uses-btn--animate {
	opacity: 1;
}

.uses-hide-group {
	height: 0;
	overflow: hidden;
	border-top: 1px solid transparent;
	box-shadow: 0 0 4px transparent;
}

.uses-hide-group--animate {
	transition: border 0.4s ease-out;
	border-top: 1px solid $uses-hide-group-border-color;
	box-shadow: 0 0 4px $uses-hide-group-border-color;
}

// Other compontents

.uses-getting {
	&__wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		margin: 50px 0 0 40px;
		transition: margin 0.2s ease;
	}

	&__title {
		transform: translateX(-40px);
		font-weight: 700;
		font-size: 50px;
		color: $uses-getting-title-color;
		opacity: 0;
	}

	&__title--rus-lang {
		font-size: 48px;
	}

	&__title--animate {
		transform: translateX(0);
		opacity: 1;
		transition:
			transform 0.8s ease-out,
			opacity 0.8s ease-out;
	}

	&__subtitle {
		font-weight: 600;
		font-size: 32px;
		color: $uses-getting-text-color;
		letter-spacing: 0.5px;
		opacity: 0;
		transform: translateY(30px);
	}

	&__subtitle--rus-lang {
		margin-top: 5px;
		font-size: 30px;
	}

	&__subtitle--animate {
		transform: translateY(0);
		opacity: 1;
		transition:
			transform 0.8s ease-out,
			opacity 0.8s ease-out;
	}

	&__subtitle--span {
		color: $uses-getting-text-span-color;
	}

	@media (width <= 1150px) {
		&__wrapper {
			margin-left: 25px;
		}

		&__subtitle {
			font-size: 30px;
		}

		&__subtitle--rus-lang {
			font-size: 28px;
		}
	}

	@media (width <= 800px) {
		&__wrapper {
			margin-top: 30px;
		}

		&__title {
			font-size: 44px;
		}

		&__subtitle {
			font-size: 26px;
		}

		&__subtitle--rus-lang {
			font-size: 24px;
		}
	}

	@media (width <= 600px) {
		&__title {
			font-size: 40px;
		}

		&__subtitle {
			font-size: 24px;
		}

		&__subtitle--rus-lang {
			font-size: 22px;
		}
	}

	@media (width <= 480px) {
		&__wrapper {
			row-gap: 10px;
			align-items: center;
			margin-left: 0;
		}

		&__subtitle {
			margin-right: 0;
			text-align: center;
		}
	}

	@media (width <= 430px) {
		&__title {
			font-size: 36px;
		}

		&__title--rus-lang {
			font-size: 34px;
		}

		&__subtitle {
			font-size: 20px;
		}

		&__subtitle--rus-lang {
			font-size: 18px;
		}
	}
}

.uses-scroll {
	&__wrapper {
		margin-left: 140px;
		height: calc(100vh - 250px);
		transition: margin 0.2s ease;
	}

	// &__title {}

	// &__line {}

	&__text {
		margin-left: 30px;
		width: 185px;
		letter-spacing: -4px;
		overflow: visible;
	}

	&__letter {
		position: relative;
		left: 120%;
		opacity: 0;
	}

	&__letter--animate {
		left: 0;
		opacity: 1;
		transition:
			left 0.8s ease-in,
			opacity 1.5s ease-out;
	}

	@media (width <= 1150px) {
		&__wrapper {
			margin-left: 110px;
		}

		&__text {
			font-size: 34px;
		}
	}

	@media (width <= 800px) {
		&__text {
			margin-left: 20px;
			font-size: 32px;
			letter-spacing: -3.5px;
		}
	}

	@media (width <= 600px) {
		&__wrapper {
			margin-left: 100px;
		}

		&__text {
			width: 250px;
			overflow: hidden;
			font-size: 30px;
		}
	}

	@media (width <= 480px) {
		&__wrapper {
			margin-left: 80px;
		}
	}

	@media (width <= 430px) {
		&__wrapper {
			margin-left: 60px;
		}

		&__text {
			font-size: 28px;
			letter-spacing: -3px;
		}
	}

	@media (height <= 550px) {
		&__wrapper {
			margin-top: 0;
			height: 70vh;
		}
	}
}

.uses-equipment {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0;
	}

	&__title {
		margin-bottom: 30px;
	}

	// &__line {}

	&__inner-content {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		width: 100%;
		row-gap: 10px;
		transition: margin 0.2s ease;
	}

	// &__item {}

	// &__button {}

	// &__text {}

	// &__img {}

	&__hidden-group {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
		transition: height 0.6s ease-out;
		will-change: height;
	}

	&__hidden-group--open {
		height: 190px;
	}

	// &__hidden-img {}

	&__hidden-text {
		margin-right: 30px;
		width: 500px;
		font-weight: 600;
		line-height: 125%;
		font-size: 18px;
		color: $uses-equipment-text-color;
		letter-spacing: 0.5px;
	}

	@media (width <= 1150px) {
		&__title {
			margin-bottom: 25px;
		}

		&__inner-content {
			margin-top: 40px;
		}

		&__hidden-img {
			transform: scale(0.9);
		}

		&__hidden-group--open {
			height: 180px;
		}
	}

	@media (width <= 800px) {
		&__wrapper {
			margin-top: 30px;
		}

		&__title {
			margin-bottom: 20px;
		}

		&__inner-content {
			margin-top: 35px;
		}

		&__hidden-img {
			transform: scale(0.8);
		}

		&__hidden-text {
			font-size: 16px;
		}

		&__hidden-group--open {
			height: 160px;
		}
	}

	@media (width <= 600px) {
		&__title {
			margin-bottom: 15px;
		}

		&__inner-content {
			margin-top: 30px;
			row-gap: 8px;
		}

		&__hidden-img {
			transform: scale(1);
			width: 110px;
			height: 110px;
		}

		&__hidden-text {
			margin-right: 15px;
			width: auto;
			font-size: 14px;
		}

		&__hidden-group {
			padding: 0 10px;
		}

		&__hidden-group--open {
			height: 160px;
		}
	}

	@media (width <= 480px) {
		&__hidden-group--open {
			height: 140px;
		}

		&__hidden-text {
			margin-right: 10px;
			text-align: center;
		}

		&__hidden-img {
			width: 100px;
			height: 100px;
		}

		&__hidden-group {
			padding: 0 5px;
		}
	}

	@media (width <= 430px) {
		&__inner-content {
			margin-top: 25px;
		}

		&__hidden-img {
			width: 90px;
			height: 90px;
		}

		&__hidden-text {
			font-size: 12px;
		}
	}
}

.uses-software {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
		transition: margin 0.2s ease;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__inner-content {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
		gap: 70px 120px;
		flex-wrap: wrap;
		transition: margin 0.2s ease;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 215px;
		height: 130px;
	}

	&__img {
		opacity: 0;
		transform: translateX(-20px);
	}

	&__img--animate {
		transition:
			transform 0.8s ease-out,
			opacity 0.8s ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	&__text {
		font-weight: 600;
		font-size: 30px;
		letter-spacing: 0.5px;
		opacity: 0;
		transform: translateY(20px);
	}

	&__text--animate {
		transition:
			transform 0.8s ease-out,
			opacity 0.8s ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	&__text--rus-lang {
		font-size: 28px;
	}

	$colors: (
		0: $vs-code,
		1: $white,
		2: $pixel-perfect,
		3: $photoshop,
		4: $bootstrap,
		5: $git,
	);

	@mixin software-colors($index, $color) {
		.uses-software__text--color-#{$index} {
			color: $color;
		}
	}

	@each $index, $color in $colors {
		@include software-colors($index, $color);
	}

	@media (width <= 1150px) {
		&__wrapper {
			margin-top: 90px;
		}

		&__title {
			margin-bottom: 25px;
		}

		&__inner-content {
			margin-top: 40px;
			row-gap: 60px;
		}

		&__item {
			height: 125px;
		}

		&__img {
			width: 75px;
			height: 75px;
		}

		&__text {
			font-size: 28px;
		}
	}

	@media (width <= 800px) {
		&__wrapper {
			margin-top: 80px;
		}

		&__title {
			margin-bottom: 20px;
		}

		&__inner-content {
			margin-top: 40px;
			gap: 50px 100px;
		}

		&__item {
			height: 120px;
		}

		&__img {
			width: 70px;
			height: 70px;
		}

		&__text {
			font-size: 26px;
		}
	}

	@media (width <= 600px) {
		&__wrapper {
			margin-top: 70px;
		}

		&__title {
			margin-bottom: 15px;
		}

		&__inner-content {
			margin-top: 40px;
			gap: 40px 90px;
		}

		&__item {
			width: 150px;
			height: 110px;
		}

		&__img {
			width: 60px;
			height: 60px;
		}

		&__text {
			font-size: 24px;
		}
	}

	@media (width <= 480px) {
		&__wrapper {
			margin-top: 60px;
		}

		&__inner-content {
			margin-top: 40px;
			gap: 50px 200px;
		}

		&__item {
			width: 150px;
			height: 110px;
		}

		&__img {
			width: 65px;
			height: 65px;
		}

		&__text {
			font-size: 26px;
		}
	}
}

.uses-linters {
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
		margin-bottom: 50px;
	}

	&__title {
		margin-bottom: 30px;
	}

	// &__line {}

	&__tasks-group {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
		flex-wrap: wrap;
		gap: 40px 150px;
	}

	&__task {
		font-weight: 500;
		font-size: 32px;
		color: $uses-linters-text-color;
		text-align: center;
		opacity: 0;
		transform: translateY(-20px);
	}

	&__task--animate {
		transform: translateY(0);
		opacity: 1;
		transition:
			transform 0.8s ease-out,
			opacity 0.8s ease-out;
	}

	&__task--rus-lang {
		font-size: 30px;
	}

	&__inner-settings {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 80px;
		width: 100%;
		row-gap: 10px;
	}

	&__settings-title {
		margin-bottom: 5px;
		font-weight: 600;
		font-size: 40px;
		color: $uses-linters-text-color;
		letter-spacing: 0.5px;
		transform: translateX(-20px);
		opacity: 0;
	}

	&__settings-title--animate {
		transform: translateX(0) !important;
		opacity: 1;
		transition:
			transform 0.8s ease-out,
			opacity 0.8s ease-out;
	}

	&__settings-title--rus-lang {
		margin-bottom: 10px;
		font-size: 38px;
	}

	&__settings-subtitle {
		margin-bottom: 30px;
		font-weight: 600;
		font-size: 26px;
		color: $uses-linters-text-color;
		letter-spacing: 1px;
		text-align: center;
		transform: translateX(20px);
		opacity: 0;
	}

	&__settings-subtitle--accent-color {
		color: $uses-linters-accent-text-color;
	}

	&__settings-subtitle--animate {
		transform: translateX(0) !important;
		opacity: 1;
		transition:
			transform 0.8s ease-out,
			opacity 0.8s ease-out;
	}

	&__settings-line {
		margin-bottom: 35px;
	}

	&__item {
		width: 100%;
	}

	// &__btn {}

	// &__text {}

	// &__img {}

	&__hide-group {
		display: flex;
		flex-direction: column;
		padding: 0 10px;
		will-change: height;
	}

	&__copy-btn {
		margin-top: 15px;
		padding: 7px 0;
		font-weight: 500;
		font-size: 22px;
		color: $uses-linters-text-color;
		letter-spacing: 0.5px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		box-shadow: 0 0 4px $milky;
		transition:
			color 0.2s ease,
			letter-spacing 0.3s ease,
			box-shadow 0.2s ease;

		&:hover {
			color: $uses-linters-hover-text-color;
			box-shadow: 0 0 4px $uses-linters-border-hover-color;
			letter-spacing: 1px !important;
		}
	}

	&__copy-btn--rus-lang {
		font-size: 20px;
	}

	&__paste-group {
		display: flex;
		align-items: center;
		margin-top: 15px;
		column-gap: 5px;
	}

	&__paste-img {
		width: 32px;
		height: 32px;
	}

	&__paste-text {
		font-weight: 500;
		font-size: 20px;
		color: $uses-linters-text-color;
		letter-spacing: 0.5px;
	}

	&__paste-text--accent {
		color: $uses-linters-accent-text-color;
	}

	&__paste-text--rus-lang {
		font-size: 18px;
	}

	&__code-line {
		margin: 10px 0 20px;
		padding: 1px 0;
		width: 100%;
		background-color: $uses-linters-line-color;
	}

	&__code {
		font-weight: 400;
		font-size: 20px;
		color: $uses-linters-text-color;
	}

	&__code-span {
		color: $uses-linters-accent-text-color;
	}

	&__up-img {
		pointer-events: none;
		transition: transform 0.3s ease;
	}

	&__up-btn {
		margin: 10px 0 20px;
		background-color: transparent;
		border: none;
		cursor: pointer;
		box-shadow: 0 0 4px $uses-linters-border-color;
		transition: box-shadow 0.2s ease;

		&:hover {
			box-shadow: 0 0 4px $uses-linters-border-hover-color;
		}

		&:hover .uses-linters__up-img {
			transform: scale(1.1);
		}
	}

	@media (width <= 1150px) {
		&__wrapper {
			margin-top: 90px;
		}

		&__title {
			margin-bottom: 25px;
		}

		&__tasks-group {
			margin-top: 40px;
			gap: 30px 90px;
		}

		&__task {
			font-size: 30px;
		}

		&__task--rus-lang {
			font-size: 28px;
		}

		&__inner-settings {
			margin-top: 70px;
		}

		&__settings-title {
			font-size: 38px;
		}

		&__settings-title--rus-lang {
			font-size: 36px;
		}
	}

	@media (width <= 800px) {
		&__wrapper {
			margin-top: 80px;
		}

		&__title {
			margin-bottom: 20px;
		}

		&__tasks-group {
			margin-top: 35px;
			gap: 25px 80px;
		}

		&__task {
			font-size: 28px;
		}

		&__task--rus-lang {
			font-size: 26px;
		}

		&__inner-settings {
			margin-top: 60px;
		}

		&__settings-title {
			font-size: 36px;
		}

		&__settings-title--rus-lang {
			font-size: 34px;
		}

		&__settings-subtitle {
			margin-bottom: 20px;
			font-size: 24px;
		}

		&__settings-line {
			margin-bottom: 30px;
		}

		&__copy-btn {
			padding: 5px 0;
			font-size: 20px;
		}

		&__copy-btn--rus-lang {
			font-size: 18px;
		}

		&__paste-img {
			width: 28px;
			height: 28px;
		}

		&__paste-text {
			font-size: 18px;
		}

		&__paste-text--rus-lang {
			font-size: 16px;
		}

		&__code-line {
			margin-bottom: 15px;
		}

		&__code {
			font-size: 18px;
		}

		&__up-img {
			width: 28px;
			height: 28px;
		}
	}

	@media (width <= 600px) {
		&__wrapper {
			margin-top: 70px;
		}

		&__title {
			margin-bottom: 15px;
		}

		&__tasks-group {
			margin-top: 30px;
			gap: 20px 60px;
		}

		&__task {
			font-size: 24px;
		}

		&__task--rus-lang {
			font-size: 22px;
		}

		&__settings-title {
			margin-bottom: 0;
			font-size: 34px;
			letter-spacing: 1px;
			transform: translateX(-10px);
		}

		&__settings-title--rus-lang {
			font-size: 32px;
		}

		&__settings-subtitle {
			margin-bottom: 20px;
			font-size: 22px;
		}

		&__settings-line {
			margin-bottom: 25px;
		}

		&__copy-btn {
			padding: 5px 0;
			font-size: 18px;
		}

		&__copy-btn--rus-lang {
			font-size: 16px;
		}

		&__paste-img {
			width: 24px;
			height: 24px;
		}

		&__paste-text {
			font-size: 16px;
		}

		&__paste-text--rus-lang {
			font-size: 14px;
		}

		&__code-line {
			margin-bottom: 10px;
		}

		&__code {
			font-size: 16px;
		}

		&__up-btn {
			margin-bottom: 15px;
		}
	}

	@media (width <= 480px) {
		&__inner-settings {
			row-gap: 10px;
			margin-top: 50px;
		}

		&__settings-subtitle {
			margin-bottom: 15px;
		}

		&__settings-line {
			margin-bottom: 15px;
		}

		&__tasks-group {
			margin-top: 25px;
			gap: 15px 100px;
		}
	}

	@media (width <= 430px) {
		&__task {
			font-size: 20px;
		}

		&__task--rus-lang {
			font-size: 18px;
		}

		&__settings-title {
			font-size: 30px;
		}

		&__settings-title--rus-lang {
			font-size: 28px;
		}

		&__settings-subtitle {
			margin-bottom: 5px;
			font-size: 20px;
			transform: translateX(10px);
		}

		&__up-img {
			width: 26px;
			height: 26px;
		}
	}

	@media (hover: none) and (pointer: coarse) {
		&__copy-btn {
			&:hover {
				color: $uses-linters-text-color;
				box-shadow: 0 0 4px $uses-linters-border-color;
				letter-spacing: 0.5px !important;
			}
		}

		&__copy-btn--rus-lang {
			&:hover {
				letter-spacing: 0 !important;
			}
		}

		&__up-btn {
			&:hover {
				box-shadow: 0 0 4px $uses-linters-border-color;
			}

			&:hover .uses-linters__up-img {
				transform: scale(1);
			}
		}
	}
}

.uses-linters__modal-window {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 0;
	width: 100%;
	font-weight: 600;
	font-size: 22px;
	color: $orange;
	letter-spacing: 0.5px;
	text-align: center;
	background-color: $white;
	opacity: 0;
	transform: translateX(-50%);
	animation: linters-modal-windows 2s linear;

	@keyframes linters-modal-windows {
		0% {
			opacity: 0;
		}

		30% {
			opacity: 1;
		}

		60% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}
}

.uses-linters__modal-window--rus-lang {
	font-size: 20px;
}

@media (width <= 1150px) {
	.uses-title {
		font-size: 46px;
	}

	.uses-title--rus-lang {
		font-size: 44px;
	}

	.uses-btn {
		padding: 0 12px;
		height: 48px;
	}

	.uses-text {
		width: 170px;
		height: 30px;
		font-size: 24px;
	}

	.uses-img {
		margin-right: -18px;
		width: 28px;
		height: 28px;
	}
}

@media (width <= 800px) {
	.uses-title {
		font-size: 42px;
	}

	.uses-title--rus-lang {
		font-size: 40px;
	}

	.uses-btn {
		height: 46px;
	}

	.uses-text {
		width: 160px;
		height: 28px;
		font-size: 22px;
	}

	.uses-img {
		width: 26px;
		height: 26px;
	}

	.uses-linters__modal-window {
		font-size: 20px;
	}

	.uses-linters__modal-window--rus-lang {
		font-size: 18px;
	}
}

@media (width <= 600px) {
	.uses-title {
		font-size: 36px;
	}

	.uses-title--rus-lang {
		font-size: 34px;
	}

	.uses-btn {
		padding: 0 10px;
		height: 44px;
	}

	.uses-text {
		width: 140px;
		height: 26px;
		font-size: 20px;
		letter-spacing: 1px;
	}

	.uses-img {
		width: 24px;
		height: 24px;
	}

	.uses-linters__modal-window {
		font-size: 18px;
	}

	.uses-linters__modal-window--rus-lang {
		font-size: 16px;
	}
}

@media (width <= 430px) {
	.uses-title {
		font-size: 32px;
	}

	.uses-title--rus-lang {
		font-size: 28px;
	}

	.uses-btn {
		height: 40px;
	}

	.uses-text {
		font-size: 20px;
		letter-spacing: 1px;
	}

	.uses-img {
		width: 22px;
		height: 22px;
	}
}

@media (hover: none) and (pointer: coarse) {
	.uses-btn {
		&:hover {
			box-shadow: 0 0 4px $uses-btn-border-color;
		}

		&:hover .uses-text {
			color: $uses-text-color;
		}

		&:hover .uses-img {
			filter: drop-shadow(0 0 0 $uses-btn-border-hover-color);
		}
	}
}
