$orange: #f8aa01;
$white: #fff;
$black: #000;
$gray: #a9a9a9;

// soft-colors
$vs-code: #007acc;
$pixel-perfect: #ff84af;
$photoshop: #31a8ff;
$bootstrap: #7952b3;
$git: #f34f29;

// uses-getting-color
$uses-getting-title-color: $white;
$uses-getting-text-color: $white;
$uses-getting-text-span-color: $orange;
$uses-getting-scroll-line-color: $white;
$uses-getting-scroll-text-color: $white;

// uses-equipment
$uses-equipment-title-color: $orange;
$uses-equipment-text-color: $white;
$uses-equipment-border-color: $white;

// uses-software
$uses-software-text-color: $white;
$uses-software-title-color: $orange;

// uses-linters
$uses-linters-title-color: $orange;
$uses-linters-text-color: $white;
$uses-linters-accent-text-color: $orange;
$uses-linters-box-shadow-color: $white;

.uses-page {
	position: absolute;
	left: -9999px;
}

@mixin uses-title($textColor) {
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	color: $textColor;
	letter-spacing: 0.5px;
}

.uses-getting {
	&__wrapper {
		display: flex;
		flex-direction: column;
		padding-top: 70px;
		padding-left: 40px;
		row-gap: 15px;
		transition: padding-left 0.4s ease-out;
	}

	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 50px;
		color: $uses-getting-title-color;
		opacity: 0;
		transform: translateX(-40px);
	}

	&__title--animate {
		@keyframes uses-getting-title {
			0% {
				opacity: 0;
				transform: translateX(-40px);
			}

			100% {
				opacity: 1;
				transform: translateX(0);
			}
		}

		animation: uses-getting-title 1s ease-out forwards;
	}

	&__text {
		font-weight: 600;
		font-size: 30px;
		color: $uses-getting-text-color;
		opacity: 0;
		transform: translateY(30px);
	}

	&__text--animate {
		@keyframes uses-getting-text {
			0% {
				opacity: 0;
				transform: translateY(30px);
			}

			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		animation: uses-getting-text 1.2s ease-out forwards;
	}

	&__text-span {
		color: $uses-getting-text-span-color;
	}

	&__scroll-container {
		display: flex;
		align-items: center;
		margin-left: 200px;
		height: calc(100vh - 300px);
		transition: all 0.4s ease-out;
	}

	&__scroll-line {
		width: 3px;
		height: 0;
		background-color: $uses-getting-scroll-line-color;
	}

	&__scroll-line--animate {
		@keyframes uses-getting-scroll-line-animate {
			0% {
				height: 0;
			}

			100% {
				height: 80%;
			}
		}

		animation: uses-getting-scroll-line-animate 1.8s ease-out forwards;
	}

	&__scroll-text {
		position: relative;
		margin-left: 50px;
		font-weight: 600;
		font-size: 35px;
		color: $uses-getting-scroll-text-color;
		letter-spacing: -4.5px;
	}

	&__scroll-letters {
		position: relative;
		right: -100%;
		opacity: 0;
	}

	&__scroll-letters--animate {
		@keyframes uses-getting-scroll-letters {
			0% {
				right: -100%;
				opacity: 0;
			}

			100% {
				right: 0;
				opacity: 1;
			}
		}

		animation: uses-getting-scroll-letters 0.4s ease-in forwards;
	}
}

.equipment {
	.equipment__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 70px;
	}

	.equipment__inner-content {
		margin-top: 50px;
	}

	.equipment__title {
		opacity: 0;
		transform: translateY(-30px);

		@include uses-title($uses-equipment-title-color);
	}

	.equipment__title--animate {
		@keyframes equipment-title {
			0% {
				opacity: 0;
				transform: translateY(-30px);
			}

			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		animation: equipment-title 1s ease-out forwards;
	}

	.equipment-content {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
		width: 100%;

		&__item {
			position: relative;
			display: flex;
			flex-direction: column;
			box-shadow: 0 0 0 transparent;
		}

		&__item--animate {
			@keyframes equipment-content-item {
				0% {
					box-shadow: 0 0 5px transparent;
				}

				100% {
					box-shadow: 0 0 5px $uses-equipment-border-color;
				}
			}

			animation: equipment-content-item 0.8s ease-out forwards;
		}

		&__button {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 10px;
			height: 60px;
			background-color: transparent;
			border: none;
			border-bottom: 0 solid transparent;
			cursor: pointer;
			box-shadow: 0 0 5px transparent;
			transition:
				box-shadow 0.4s ease-out,
				border-bottom 0.3s 0.1s ease-out;

			&:hover {
				transition:
					box-shadow 0.4s ease-out,
					border-bottom 0.4s 0.2s ease-out;
				box-shadow: 0 0 10px $uses-equipment-border-color;
			}
		}

		&__button--open {
			border-bottom: 1px solid $white;
		}

		&__text {
			pointer-events: none;
			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			color: $uses-equipment-text-color;
			letter-spacing: 1px;
			opacity: 0;
			transform: translateX(20px);
			transition: all 0.5s ease-out;
		}

		.russian-lang-text {
			letter-spacing: 0;
		}

		&__text--animate {
			@keyframes equipment-content-text {
				0% {
					opacity: 0;
					transform: translateX(-10px);
				}

				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}

			animation: equipment-content-text 1s ease-out forwards;
		}

		&__img {
			pointer-events: none;
			opacity: 0;
			transform: translateX(10px) rotate(90deg);
		}

		&__img--animate {
			transition: all 1s ease-out;
			opacity: 1;
			transform: translateX(0) rotate(90deg);
		}

		&__img--open {
			transition: all 0.5s ease-out;
			opacity: 1;
			transform: rotate(0deg);
		}

		&__img--close {
			transition: all 0.5s ease-out;
			opacity: 1;
			transform: rotate(90deg);
		}

		&__hidden-box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 10px;
			width: 100%;
			height: 0;
			overflow: hidden;
			transition: all 0.4s ease-out;
		}

		&__hidden-box--open {
			margin: 20px 0 10px;
			height: 120px;
		}

		&__hidden-box--close {
			margin: 0;
			height: 0;
		}

		&__hidden-img {
			width: fit-content;
			height: 120px;
			opacity: 0;
			transform: translateX(-15px);
			transition: all 0.6s ease-out;
			pointer-events: none;
		}

		&__hidden-img--animate {
			transition: all 0.8s ease-out;
			opacity: 1;
			transform: translateX(0);
		}

		&__hidden-text {
			width: 60%;
			font-weight: 500;
			font-size: 20px;
			color: $uses-equipment-text-color;
			text-align: right;
			opacity: 0;
			transform: translateX(15px);
			transition: all 0.6s ease-out;
			pointer-events: none;
		}

		&__hidden-text--animate {
			transition: all 0.8s ease-out;
			transform: translate(0);
			opacity: 1;
		}
	}
}

.software {
	.software__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
	}

	.software__title {
		opacity: 0;
		transform: translateY(-30px);

		@include uses-title($uses-software-title-color);
	}

	.software__title--animate {
		@keyframes software-title {
			0% {
				opacity: 0;
				transform: translateY(-30px);
			}

			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		animation: software-title 1s ease-out forwards;
	}

	.software__inner-content {
		padding-top: 50px;
	}

	.software-content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 70px 120px;
		flex-wrap: wrap;

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			width: 215px;
			height: 150px;
		}

		&__img {
			opacity: 0;
			transform: translateY(-15px);
		}

		&__img--animate {
			@keyframes software-content-img {
				0% {
					opacity: 0;
					transform: translateY(-15px);
				}

				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}

			animation: software-content-img 0.8s forwards ease-out;
		}

		&__text {
			font-style: normal;
			font-weight: 600;
			font-size: 30px;
			letter-spacing: 0.5px;
			opacity: 0;
			transform: translateX(50px);
		}

		$colors: (
			0: $vs-code,
			1: $white,
			2: $pixel-perfect,
			3: $photoshop,
			4: $bootstrap,
			5: $git,
		);

		@mixin software-colors($index, $color) {
			.software-content__text--color-#{$index} {
				color: $color;
			}
		}

		@each $index, $color in $colors {
			@include software-colors($index, $color);
		}

		&__text--animate {
			@keyframes software-content-text {
				0% {
					opacity: 0;
					transform: translateX(50px);
				}

				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}

			animation: software-content-text 1.2s forwards ease-out;
		}
	}
}

.linters {
	.linters__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 150px;
	}

	.linters__title {
		transform: translateY(30px);
		opacity: 0;

		@include uses-title($uses-linters-title-color);
	}

	.linters__title--animate {
		@keyframes a {
			0% {
				transform: translateY(-30px);
				opacity: 0;
			}

			100% {
				transform: translateY(0);
				opacity: 1;
			}
		}

		animation: a 1s ease-out forwards;
	}

	.linters__inner-settings {
		width: 100%;
	}

	&__subtitles-box {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
		margin-bottom: 100px;
		flex-wrap: wrap;
		gap: 50px 250px;
	}

	&__subtitle {
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		color: white;
		text-align: center;
		opacity: 0;
		transform: translateY(20px);
	}

	&__subtitle--animate {
		@keyframes linters-subtitle {
			0% {
				opacity: 0;
				transform: translateY(20px);
			}

			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		animation: linters-subtitle 0.8s forwards ease-out;
	}

	.settings-linters {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px;
		row-gap: 15px;

		&__subtitle {
			font-style: normal;
			font-weight: 600;
			font-size: 40px;
			color: $uses-linters-text-color;
			opacity: 0;
			transform: translateY(-20px);
		}

		&__subtitle--animate {
			@keyframes settings-linters {
				0% {
					opacity: 0;
					transform: translateY(-20px);
				}

				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}

			animation: settings-linters 0.8s ease-out forwards;
		}

		&__h4-title {
			margin-bottom: 35px;
			font-style: normal;
			font-weight: 600;
			font-size: 22px;
			color: $uses-linters-text-color;
			opacity: 0;
			transform: translateX(20px);

			& span {
				color: $uses-linters-accent-text-color;
			}
		}

		&__h4-title--animate {
			@keyframes settings-linters-h4-title {
				0% {
					opacity: 0;
					transform: translateX(20px);
				}

				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}

			animation: settings-linters-h4-title 0.8s ease-out forwards;
		}

		&__item {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: fit-content;
			box-shadow: 0 0 0 transparent;
		}

		&__item--animate {
			box-shadow: 0 0 3px $uses-linters-box-shadow-color;
			transition: all 0.8s ease-out;
		}

		&__btn {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 10px;
			width: 100%;
			height: 55px;
			color: $uses-linters-text-color;
			background-color: transparent;
			border: none;
			border-bottom: 1px solid transparent;
			cursor: pointer;
			transition:
				border-bottom 0.6s ease-in,
				box-shadow 0.2s ease-in;
			box-shadow: 0 0 0 transparent;

			&:hover {
				box-shadow: 0 0 12px $uses-linters-box-shadow-color;
			}
		}

		&__btn--animate {
			border-bottom: 1px solid $uses-linters-box-shadow-color;
		}

		&__text {
			pointer-events: none;
			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			transform: translateX(-10px);
			opacity: 0;
		}

		&__text--animate {
			@keyframes settings-linters-text {
				0% {
					transform: translateX(-10px);
					opacity: 0;
				}

				100% {
					transform: translateX(0);
					opacity: 1;
				}
			}

			animation: settings-linters-text 0.8s ease-out forwards;
		}

		&__img {
			pointer-events: none;
			opacity: 0;
			transform: translateX(15px) rotate(90deg);
		}

		&__img--animate {
			@keyframes settings-linters-img {
				0% {
					opacity: 0;
					transform: translateX(15px) rotate(90deg);
				}

				100% {
					opacity: 1;
					transform: translateX(0) rotate(90deg);
				}
			}

			animation: settings-linters-img 0.8s ease-out forwards;
		}

		&__img--open {
			@keyframes settings-linters-img-open {
				0% {
					opacity: 1;
					transform: rotate(90deg);
				}

				100% {
					opacity: 1;
					transform: rotate(0);
				}
			}

			animation: settings-linters-img-open 0.6s ease-out forwards;
		}

		&__img--close {
			@keyframes settings-linters-img-close {
				0% {
					opacity: 1;
					transform: rotate(0);
				}

				100% {
					opacity: 1;
					transform: rotate(90deg);
				}
			}

			animation: settings-linters-img-close 0.6s ease-out forwards;
		}

		&__hidden-box {
			position: relative;
			padding-left: 15px;
			height: 0;
			overflow: hidden;
			transform: translateX(-20px);
			opacity: 0;
			transition: all 0.4s ease-in;
		}

		&__hidden-box--animate {
			transition: all 0.8s 0.2s ease-out;
			transform: translateX(0);
			opacity: 1;
		}

		$heights: (
			0: '465px',
			1: '1200px',
			2: '5945px',
			3: '1490px',
		);

		@mixin settings-linters-hidden-box-close-open($index, $height) {
			&__hidden-box--open-#{$index} {
				@keyframes settings-linters-hidden-box-open-#{$index} {
					0% {
						height: 0;
					}

					99% {
						height: #{$height};
					}

					100% {
						height: auto;
					}
				}

				animation: settings-linters-hidden-box-open-#{$index} 0.6s ease-out forwards;
			}

			&__hidden-box--close-#{$index} {
				@keyframes settings-linters-hidden-box-close-#{$index} {
					0% {
						height: #{$height};
					}

					100% {
						height: 0;
					}
				}

				animation: settings-linters-hidden-box-close-#{$index} 1s ease-out forwards;
			}
		}

		@each $index, $height in $heights {
			@include settings-linters-hidden-box-close-open($index, $height);
		}

		&__hidden-btn {
			margin: 20px 0;
			width: 220px;
			height: 40px;
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			color: $uses-linters-text-color;
			background-color: transparent;
			border: none;
			cursor: pointer;
			box-shadow: 0 0 5px white;
			transition: all 0.3s ease-out;

			&:hover {
				color: $uses-linters-accent-text-color;
				box-shadow: 0 0 10px $uses-linters-box-shadow-color;
			}
		}

		&__warning {
			display: flex;
			align-items: center;
			column-gap: 10px;
			margin-bottom: 20px;
		}

		&__img-warning {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 28px;
			height: 28px;
		}

		&__text-warning {
			font-weight: 500;
			font-size: 18px;
			color: $uses-linters-text-color;

			& span {
				color: $uses-linters-accent-text-color;
			}
		}

		&__hidden-text {
			font-style: normal;
			font-weight: 400;
			line-height: 130%;
			font-size: 22px;
			color: $uses-linters-text-color;
		}

		&__up-btn {
			position: absolute;
			right: 25px;
			bottom: 25px;
			width: 55px;
			height: 55px;
			background-color: transparent;
			border: solid 2px $white;
			border-radius: 50%;
			cursor: pointer;
			transition: all 0.3s ease-out;

			&:hover {
				filter: drop-shadow(0 0 3px $uses-linters-box-shadow-color);
			}
		}

		&__up-img {
			pointer-events: none;
			filter: drop-shadow(0 0 1px $uses-linters-box-shadow-color);
		}

		&__text-span {
			font-weight: 600;
			color: $uses-linters-accent-text-color;
			opacity: 0;
		}

		&__text-span--animate {
			transition: all 0.6s ease-out;
			opacity: 1;
		}
	}
}

.linters__modal-window {
	position: fixed;
	bottom: 3%;
	left: 50%;
	padding: 5px 15px;
	box-shadow: 0 0 5px white;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	color: $white;
	letter-spacing: 0.5px;
	background-color: black;
	opacity: 0;
	transform: translateX(-50%);
	animation: linters-modal-windows 2s linear;

	@keyframes linters-modal-windows {
		0% {
			opacity: 0;
		}

		30% {
			opacity: 1;
		}

		70% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}
}

@media (width <= 1000px) {
	.uses-getting {
		&__scroll-container {
			margin-left: 100px;
		}

		&__title {
			font-size: 46px;
		}

		&__text {
			font-size: 28px;
		}
	}

	.equipment {
		.equipment__title {
			font-size: 46px;
		}

		&__button {
			height: 46px;
		}

		.equipment-content {
			&__text {
				font-size: 26px;
			}

			&__hidden-text {
				font-size: 17px;
			}
		}
	}

	.software {
		.software__title {
			font-size: 46px;
		}
	}

	.linters {
		.linters__wrapper {
			margin-top: 100px;
		}

		.linters__title {
			font-size: 46px;
		}

		&__subtitles-box {
			gap: 40px 150px;
		}

		&__subtitle {
			font-size: 28px;
		}

		.settings-linters {
			&__subtitle {
				font-size: 38px;
			}
		}
	}
}

@media (width <= 800px) {
	.equipment {
		.equipment-content {
			&__hidden-box {
				flex-flow: column nowrap;
				justify-content: center;
				row-gap: 20px;
			}

			&__hidden-box--open {
				transition: all 0.6s ease-out;
				height: 220px;
			}

			&__hidden-text {
				width: 100%;
				text-align: center;
			}

			&__hidden-img--animate {
				transition: all 0.6s 0.2s ease-out;
			}

			&__hidden-text--animate {
				transition: all 0.6s 0.2s ease-out;
			}
		}
	}

	.software {
		.software__wrapper {
			margin-top: 70px;
		}
	}

	.linters {
		.settings-linters {
			&__hidden-text {
				font-size: 18px;
				letter-spacing: -0.2px;
			}
		}
	}
}

@media (width <= 600px) {
	.uses-getting {
		&__scroll-container {
			margin-left: 50px;
			overflow: hidden;
		}

		&__title {
			font-size: 40px;
		}

		&__text {
			font-size: 26px;
		}

		&__scroll-text {
			font-size: 32px;
		}
	}

	.equipment {
		.equipment__wrapper {
			margin-top: 40px;
		}

		.equipment__inner-content {
			row-gap: 18px;
		}

		.equipment__title {
			font-size: 42px;
		}

		&__button {
			height: 44px;
		}

		.equipment-content {
			&__text {
				font-size: 26px;
			}

			&__hidden-box--open {
				transition: all 0.7s ease-out;
				height: 250px;
			}

			&__hidden-text {
				font-size: 15px;
			}
		}
	}

	.software {
		.software__title {
			font-size: 42px;
		}

		.software-content {
			&__text {
				font-weight: 700;
				font-size: 26px;
			}
		}
	}

	.linters {
		.linters__title {
			font-size: 42px;
		}

		&__subtitle {
			font-size: 26px;
		}

		.settings-linters {
			&__subtitle {
				font-size: 34px;
			}

			&__h4-title {
				font-size: 20px;
			}

			&__btn {
				height: 50px;
			}

			&__text {
				font-size: 26px;
			}

			&__hidden-btn {
				font-size: 20px;
			}

			&__hidden-text {
				font-size: 14px;
			}

			&__up-btn {
				right: 15px;
				bottom: 15px;
				width: 45px;
				height: 45px;
			}

			&__up-img {
				width: 28px;
				height: 28px;
			}
		}
	}
}

@media (width <= 400px) {
	.uses-getting {
		&__title {
			font-size: 40px;
		}

		&__text {
			font-size: 24px;
		}

		&__wrapper {
			padding-left: 20px;
		}

		&__scroll-container {
			margin-left: 30px;
		}
	}

	.equipment {
		.equipment__title {
			font-size: 40px;
		}

		.equipment-content {
			&__hidden-box--open {
				height: 260px;
			}
		}
	}

	.software {
		.software__title {
			font-size: 40px;
		}
	}

	.linters {
		&__title {
			font-size: 40px;
		}

		&__subtitle {
			font-size: 22px;
		}

		&__subtitles-box {
			row-gap: 30px;
		}

		.settings-linters {
			&__subtitle {
				font-size: 30px;
			}

			&__hidden-text {
				font-size: 12px;
			}
		}
	}
}
