@use 'base.scss';
@use 'header.scss';
@use 'home-page.scss';
@use 'uses-page.scss';
@use 'resume-page.scss';
@use 'about-me-page.scss';
@use 'climb-up.scss';
@use 'aside-menu.scss';
@use 'footer.scss';

.page--active {
	position: static;
	display: block;
	width: auto;
	height: auto;
}
